---
author: GjaltJornPeters
comments: false
date: 2017-10-19 11:13:24+00:00
layout: post
link: https://sciencer.eu/2017/10/een-toetsingskader-voor-harm-reduction-interventies-beschouwing-vanuit-de-theorie-en-praktijk-van-effectieve-gedragsverandering/
slug: een-toetsingskader-voor-harm-reduction-interventies-beschouwing-vanuit-de-theorie-en-praktijk-van-effectieve-gedragsverandering
title: 'Een toetsingskader voor Harm Reduction interventies: beschouwing vanuit de
  theorie en praktijk van effectieve gedragsverandering'
wordpress_id: 93
categories:
- Scientific Scrutiny
---



<p>[Image by Todd Huffman, <a href="https://www.flickr.com/people/99287245@N00" class="uri">https://www.flickr.com/people/99287245@N00</a>]</p>
<p>Het Trimbos Instituut is bezig met een toetsingsinstrument voor Harm Reduction interventies. Ik had hier een discussie over met een van de projectleden van dat project, en mijn conclusie was dat zo’n toetsingskader geen meerwaarde heeft, en waarschijnlijk onmogelijk is.</p>
<p>Ik ben nog niet overtuigd van de meerwaarde van zo’n toetsingskader: Harm Reduction (HR) interventies worden ontwikkeld omdat dat de beste keuzes zijn in een gegeven situatie. En als dat niet zo is, dan is de interventie niet systematisch ontwikkeld (e.g. volgens <a href="https://interventionmapping.com">Intervention Mapping</a> (IM), en dan is <em>dat</em> het probleem - dat staat los van HR. Maar vanochtend was ik wel aan het nadenken over hoe je zo’n toetsingskader dan zou ontwikkelen. Dat werk ik in deze blog post uit.</p>
<p>Ik veronderstel hier eerst even dat het <em>wel</em> wenselijk is om een toetsingsinstrument voor HR interventies te ontwikkelen. Wat zou daarvoor nodig zijn?</p>
<!-- more -->
<p>Het Trimbos Instituut werkt terecht vanuit IM, het (tot nu toe) meest volledige protocol voor systematische ontwikkeling en analyse van theory &amp; evidence-based gedragsveranderingsinterventies. Dat is een bruikbaar kader, en op basis van dat kader werk ik hieronder uit wat nodig is voor een toetsingsinstrument voor HR interventies.</p>
<div id="definitie-van-harm-reduction" class="section level2">
<h2>Definitie van Harm Reduction</h2>
<p>Ten eerste moet heel duidelijk zijn wat precies wordt verstaan onder HR interventies. Hier zijn veel misverstanden over. Heather Peters (2015) heeft een handig instrument ontwikkeld om de verschillende definities en onderdelen van HR te ordenen. Dit continuum is gerangschikt in elf stadia die oplopen in begrip van wat HR is. Dit continuum is ontwikkeld voor middelengebruik (maar kan met wat werk natuurlijk worden generaliseerd; ik probeer in deze vertaling alvast wat stappen te zetten).</p>
<ol style="list-style-type: decimal">
<li><p>Abstinentie is een vereiste voorwaarde voor om schade te beperken (i.e. voor ‘harm reduction’, oftewel, abstinentie zou het doel moeten zijn van alle harm reduction)</p></li>
<li><p>De doelgroep zou hun best moeten doen om beter te worden (i.e. in de tussentijd is HR acceptabel, maar het einddoel moet abstinentie zijn; HR is dus intrinsiek tijdelijk)</p></li>
<li><p>HR bestaat uit toegang tot schone materialen (e.g. needle exchange; vanuit dit perspectief leeft een sterke angst dat HR gebruik aanmoedigt)</p></li>
<li><p>HR is zorgen dat de doelgroep in leven blijft en gezonder is (hier is de focus op het verbeteren van de kwaliteit van leven van de doelgroep, en minder ambivalentie over het constructief intervenieren op gedrag dat intrinsiek mogelijk schadelijk is)</p></li>
<li><p>HR is het beschermen en verbeteren van de gezondheid van de doelgroep en hun omgeving (hier is al veel meer begrip van wat HR is: abstinentie wordt veel minder als noodzakelijk doel gezien, en HR wordt gezien als middel om de gemeenschap te beschermen)</p></li>
<li><p>Begrip voor de functies van middelengebruik (door vanuit de doelgroep te werken kan meer inzicht worden verkregen in waarom middelen voordelen bieden voor de gebruikers)</p></li>
<li><p>Relaties opbouwen met de doelgroep (in dit stadium is inmiddels geaccepteerd dat HR belangrijk is en hoeft dit niet langer te worden verantwoord; HR wordt ingezet als kader om een respectvolle relatie met de doelgroep op te bouwen)</p></li>
<li><p>De doelgroep opzoeken waar ze zijn (traditioneel outreach; tegenwoordig is dit voor digitale interventies eenvoudiger, maar voor face-to-face interventies blijft het een uitdaging)</p></li>
<li><p>Geen veroordeling maar acceptatie van de doelgroep (HR wordt gezien als een gezondheids- en sociaal recht; de doelgroep wordt gerespecteerd en ondersteund waar mogelijk)</p></li>
<li><p>Ontwikkelen van een netwerk van HR aanbieders (in deze stap wordt de infrastructuur om HR aan te bieden versterkt, vergelijkbaar met de stap die is genomen toen Unity landelijk werd, of dat cannabisproductie nu legaal wordt)</p></li>
<li><p>Aan een gemeenschap werken die HR begrijpt en omarmt (dit bestaat effectief uit de logische volgende stap; het is een soort einddoel dat vergelijkbaar is met het perspectief op zelfregie dat de afgelopen jaren populair is geworden. Mensen zijn zelf verantwoordelijk voor hun keuzes, en moeten daarin zo goed mogelijk ondersteund worden door preventie-organisaties)</p></li>
</ol>
<p>Sommige van deze stadia zijn vanuit het Nederlandse perspectief bijna lachwekkend rudimentair (e.g. 1, 2 en 3), gegeven dat wij al breed coffeeshops hebben geïmplementeerd, uitmuntende sexuele voorlichting hebben die sterk gebaseerd is op HR, uitstekend outreach werk doen met moeilijk-te-bereiken doelgroepen zoals bijvoorbeeld Mainline en de Regenboog, en met betrekking tot alcohol al ver in stadium 11 zitten, gegeven dat alcoholgebruik breed wordt gezien alsof het meer een eigen keuze zou moeten zijn dan ander middelengebruik, en alle breed ingezette interventies zich alleen op HR richten (e.g. niet te veel drinken, niet drinken en rijden, etc).</p>
<p>Tegelijkertijd is duidelijk dat we nog niet op alle gebieden bij stadium 11 zijn aanbeland. Voorlichting over middelengebruik is een goed voorbeeld van een gebied waar nog veel verbetering nodig is: hoewel sommige organisaties het uitstekend doen (Unity en Celebrate Safe zijn goede voorbeelden) is de publieke (en vaak politieke) opinie nog vaak dat middelengebruik eigenlijk uitgebannen zou moeten worden. Daar is dus nog veel winst te behalen (en het is nodig dat te gaan doen).</p>
<p>Ik werk daarom verder met een middenweg, een definitie gebaseerd op stadium 9:</p>
<blockquote>
Harm Reduction staat voor respect voor de doelgroep, en het recht van de doelgroep op zelfregie maakt HR een sociaal en gezondheidsrecht.
</blockquote>
<p>Hieruit volgt niet noodzakelijk dat alle interventie HR interventies moeten zijn; soms wijst theorie of evidentie uit dat het verstandiger is om andere doelgedragingen te keizen dan HR-strategieen bevorderen. Maar HR strategieen zijn dus ook niet minder wenselijk, of slechts conditioneel wenselijk.</p>
<p>Hieruit volgt dat een toetsingsinstrument voor HR interventies exact dezelfde dingen bekeken moeten worden als voor andere interventies. Of een HR interventie in een gegeven context de beste keuze is, is per definitie een functie van welke alternatieve interventies voorhanden zijn. Wat volgt is dus een toetsingsinstrument om de netto gezondheidswinst van gedragsveranderingsinterventies in het algemeen in kaart te brengen.</p>
</div>
<div id="naar-een-toetsingsinstrument" class="section level2">
<h2>Naar een toetsingsinstrument</h2>
<p>Het toetsingsinstrument moet om te beginnen een gestandaardiseerde methode voorschrijven om alle beschikbare interventies voor de betreffende doelpopulatie en het betreffende doelgedrag te identificeren. Als er immers maar één interventie is ontwikkeld voor de betreffende populatie en het betreffende doelgedrag zou het eventueel niet gebruiken van die enige interventie betekenen dat de doelgroep een interventie wordt ontzegt, terwijl die doelgroep wel een serieus probleem heeft, en er (meestal publieke) middelen zijn geinvesteerd in de ontwikkeling van een interventie met als doel dat probleem te verminderen. Die keuze is ethisch niet goed te verdedigen (tenzij het overduidelijk een slechte interventie is, maar dat staat dan weer los van de HR aard van de interventie). Daarom is het belangrijk dat er alternatieve interventies beschikbaar zijn.</p>
<p>Als deze interventies zijn geidentificeerd is veruit de beste methode om de netto gezondheidswinst in kaart te brengen te kijken naar de effecten die de interventies hebben op de relevante gedragingen. Inschattingen hiervan zijn beschikbaar via pretests of evaluaties. Als die beschikbaar zijn, hoeven geen voorspellingen gedaan te worden op basis van de theorie van gedragsverandering; want hoewel je een heel eind komt met theorie, vereisen zulke voorspellingen zo ontzettend veel aannames dat de uiteindelijke uitkomsten heel variabel en dus weinig betrouwbaar zijn. Met heel veel aannames zijn er immers heel veel gelegenheden om tot een andere voorspelling te komen. Elke verandering in een aanname verandert de uiteindelijke voorspelling immers.</p>
<p>Als er geen pretests of evaluaties beschikbaar zijn, dan is het verstandig om deze uit te voeren. Dit is oneindig veel beter dan een voorspelling doen op basis van theorie. Als er om de een of andere reden een onvermijdelijke behoefte is om toch tot een uitspraak te komen, dat zou het toetsingsinstrument moeten worden toegepast. Dat toetsingsinstrument moet vervolgens voor alle beschikbare interventies het volgende in kaart brengen:</p>
<ol style="list-style-type: decimal">
<li><p>Voer een needs assessment uit van het doelgedrag in de doelpopulatie. Dit is onmisbaar als kader bij het interpreteren van de informatie over elke interventie. Hoofdstuk 4 van het IM boek kan dienen als leidraad bij het opstellen van het logic model van het probleem. Als er een duidelijk beeld is van de situatie kan de volgende stap worden gezet.</p></li>
<li><p>Bestudeer de needs assessment die is uitgevoerd tijdens de ontwikkeling van de interventie. Als deze niet is gedocumenteerd, neem dan contact op met de ontwikkelaars. Het kan immers zijn dat er specifieke subpopulaties of contexten in de interventie worden meegenomen die nog niet zijn geïdentificeerd in stap 1. Na stap 2 moeten de (gezondheids-)problemen voor de doelpopulatie duidelijk in beeld zijn. Documenteer dit uitvoerig, zodat dit openbaar kan worden gemaakt; naast dat je een eventuele uitspraak van het toetsingsinstrument zeer uitvoerig zult moeten onderbouwen, is dit bovendien leerzaam voor veel interventie-ontwikkelaars en preventiewerkers.</p></li>
<li><p>Zet op een rijtje welke risico’s interventies voor die doelpopulatie en doelgedragingen mogelijk met zich meebrengen. Dit zal waarschijnlijk meestal gaan om de zorg uit stadium 3 van het HR continuum: de angst dat een interventie aanzet tot probleemgedrag. Zet elk van die gedragingen op een rijtje: deze noem ik gemakshalve verder Mogelijke Ongewenste Iatrogene Gedragingen (MOIG).</p></li>
<li><p>Gebruik de literatuur en theorie om een overzicht te krijgen van de determinanten en beliefs die elke MOIG voorspellen. Als er onvoldoende empirische evidentie is, kan het nodig zijn om aanvullend kwalitatief en/of kwantitatief onderzoek uit te voeren. Dit is een hele belangrijke stap, want de theoretische voorspelling op effecten of een MOIG hangt voor een belangrijk deel op deze determinanten en beliefs.</p></li>
<li><p>Breng in kaart op welk doelgedrag of doelgedragingen de interventie zich richt. Het is hierbij belangrijk om ook subgedragingen te onderscheiden. Een subgedraging (‘performance objective’) is gedefinieerd als een gedrag dat deel uitmaakt van het doelgedrag (en meestal uitgevoerd moet worden als onderdeel van het uitvoeren van het doelgedrag), en wordt bepaald door andere omgevingsinvloeden en determinanten dan andere doelgedragingen. Een voorbeeld is het gebruiken van oordopjes als gehoorbescherming tijdens het uitgaan als er harde muziek wordt gedraaid. Dit vereist bezit van oordopjes, dus een subgedraging is het kopen van oordopjes. Het vereist ook daadwerkelijk gebruiken (in doen) van de oordopjes. Echter, of mensen deze twee subgedragingen uitvoeren hangt af van verschillende factoren, dus het is belangrijk deze twee subgedragingen te onderscheiden.</p></li>
<li><p>Bestudeer de interventiematerialen en vul op basis hiervan de Matrices of Change Objectives voor elk doelgedrag (en dus subgedrag) in. Vergelijk dit met wat bekend is over wat daadwerkelijk determinanten en beliefs zijn die het doelgedrag voorspellen (een herhaling van stap 4 dus, maar dan toegepast op de doelgedragingen van de interventie in plaats van op de MOIGs). De match tussen de determinanten en beliefs die belangrijk zijn voor het doelgedrag en de determinanten en beliefs waar de interventie zich op richt is een indicator van de kans dat de interventie een effect gaat hebben op het doelgedrag.</p></li>
<li><p>Bestudeer de interventiematerialen en vul op basis hiervan de Matrices of Change Objectives in voor de MOIGs. Zoek dus in de interventiematerialen naar onderdelen die determinanten of beliefs kunnen beinvloedden waarvan je weet (op basis van stap 4) dat ze belangrijk zijn voor de voorspelling van een MOIG.</p></li>
<li><p>Bestudeer voor alle Change Objectives (Change Objectives (CO) zijn beliefs, maar geherformuleerd als doelwit voor een interventie. Het attitude belief “Als ik sex heb nadat ik ketamine heb gebruikt, is die ervaring veel intenser dan zonder ketamine.” wordt als CO bijvoorbeeld geformuleerd als “… legt uit dat de intensiteit van een sexuele ervaring een functie is van een veelheid aan factoren en niet primair wordt gedreven door ketaminegebruik.”, waarbij de ‘…’ meestal wordt ingevuld door een omschrijving van de doelgroep, bijvoorbeeld “Een MSM uit Amsterdam Noord …”. Als alle CO’s zijn bereikt, wordt het doelgedrag uitgevoerd.) in stappen 6 en 7 via welke methoden voor gedragsverandering ze effect zouden kunnen hebben op de betreffende doelgedragingen en MOIGs.</p></li>
<li><p>Controleer voor elke methode of de parameters voor effectiviteit zijn gewaarborgd in de uiteindelijke interventie. Als dat niet het geval is, is de methode niet effectief: in dat geval kun je de betreffende methode, en de determinanten en beliefs die hij zou moeten beinvloedden, schrappen uit je overzicht.</p></li>
<li><p>Nu heb je, per interventie, voor elke doelgedraging en MOIG, een aantal determinanten en beliefs (in de vorm van CO’s), die kunnen worden beinvloed via een gegeven methode, die correct is toegepast (want dit heb je gecontroleerd in stap 9). Op basis hiervan kun je een inschatting maken van de maximale effectiviteit van de interventie; of beter gezegd, de te verwachten maximale differentiele effectiviteit voor de doelgedragingen en de MOIGs.</p></li>
<li><p>De laatste stap is te kijken naar de implementatie van de interventie. Welke doelgroepen worden bereikt? Is de kans dat de doelgroep die het doelgedrag uitvoert, wordt bereikt, groot? Is de kans dat de doelgroep, waar de angst voor MOIGs bestaat, wordt bereikt, groot? Deze twee kansen passen vervolgens de uitkomsten van stap 10 aan.</p></li>
<li><p>Als je nu de te verwachten gezondheidswinst door het bereiken van de doelgedragingen en de te verwachten gezondheidsrisico’s door het beinvloeden van de MOIGs ook weet, kun je een theoretische inschatting maken van de mogelijke netto gezondheidswinst van elke interventie. Deze kun je vervolgens naast elkaar leggen voor de interventies.</p></li>
</ol>
<p>Het is misschien opgevallen dat dit veel werk is, en dat er een hoop in kaart moet worden gebracht voordat je iets zinnigs kunt zeggen over wat je zoal kunt verwachten van een interventie. En dan is dit nog maar wat ik nu bedenk; je zou eigenlijk een traject moeten ingaan met een serie experts in gedragsverandering en harm reduction (zowel voor kleinere doelgroepen, zoals bij Mainline, als meer mainstream, zoals bij bijvoorbeeld Unity), en dan wordt de lijst ongetwijfeld veel langer.</p>
<p>De reden is dat mensen complex zijn. Heel complex. En gedragsverandering bij mensen is ietsje minder complex, maar niet heel veel minder complex. Dus dit vereist dat je goed weet waar je mee bezig bent, en heel veel uitzoekt en in kaart brengt, voordat je een inschatting kan maken. Dit is soms lastig te accepteren omdat gedragsverandering over mensen gaat: het is heel makkelijk om een misplaatst idee te hebben dat je zinvol over gedragsverandering kunt nadenken. <a href="https://sciencer.eu/2017/08/when-wishful-thinking-kills-the-tragic-consequences-of-misplaced-faith-in-introspection/">Ik ga hier wat dieper op in in deze post.</a> Een ding is duidelijk: gedragsverandering is een specialistische expertise in zichzelf.</p>
<p>Naast dat het lastig is om te accepteren dat gedragsverandering een specifieke expertise is, en om de een of andere reden nu nog een vrij zeldzame expertise, is het ook onhandig: het betekent namelijk dat eenvoudige, oppervlakkige, snelle toetsingsinstrumenten onmogelijk zijn. Een toetsingsinstrument dat voorbij gaat aan die complexe aard van gedragsverandering, en dus negeert wat we inmiddels weten over gedragsverandering, kan niet goed in kaart brengen wat je kunt verwachten van gedragsveranderingsinterventies, en is dus niet bruikbaar om iets zinnigs te zeggen over HR interventies.</p>
<p>Gelukkig hebben we inmiddels wel decennia aan onderzoek over gedragsverandering, en is het een actief onderzoeksveld waar regelmatig vooruitgang wordt geboekt. We leren dus steeds meer over hoe het beter kan, en hebben al heel veel geleerd over alle voorwaarden voor successvolle gedragsverandering.</p>
<p>Het slechte nieuws is dus dat een relatief licht toetsingsinstrument dus een illusie is (een gevaarlijke, mogelijk schadelijke illusie, zelfs).</p>
<p>Het goede nieuws is dat we inmiddels genoeg weten om wel een gedegen toetsingsinstrument op te stellen: dat een toetsingsinstrument mogelijk is, is dus geen illusie.</p>
<p>De voorspellingen blijven echter zo goed als de aannames, en dat is meestal niet zo goed. Hoewel zo’n toetsingsinstrument dus een interessante academische exercitie is, zou het niet goed te verantwoorden zijn om anders dan zeer terughoudend om te gaan met de gedane voorspellingen.</p>
<p>Dat we nu al in de buurt komen van een toetsingsinstrument op basis waarvan je kunt verantwoorden een gegeven interventie niet te implementeren, is dus wel een illusie.</p>
</div>
<div id="afsluiting" class="section level2">
<h2>Afsluiting</h2>
<p>Voor de duidelijkheid: ik denk dus nog steeds dat investering in zo’n toetsingsinstrument uberhaupt niet verstandig is (en zelfs mogelijk schadelijk kan zijn, want als er eenmaal in is geinvesteerd zijn er vast belanghebbenden die het ook willen gebruiken). Ik heb deze post uitgewerkt vanuit een soort harm reduction: als iemand er toch mee  bezig gaat, dan wel volgens de inzichten uit de gedragsveranderingswetenschap.</p>
<p>Harm Reduction is niet iets bijzonders; het is simpelweg de meest verstandige benadering van heel veel gedragsveranderingsproblemen. Het idee een HR toetsingsinstrument te ontwikkelen impliceert dat HR een soort optie is; dat je in plaats van HR ook voor abstinentie-gebaseerde interventies kunt gaan. Dat verraadt voor zover ik kan zien een grondig onbegrip van de essentie van gedragsverandering en wat HR nu precies is.</p>
<p>Maar misschien mis ik iets: en iedereen is bij deze (maar eigenlijk sowieso altijd) van harte uitgenodigd dat uit te leggen in de comments. Overigens realiseer ik mij dat ik het me kan permitteren uitsluitend op basis van het belang van effectieve gedragsverandering (en gedegen onderzoek naar effectieve gedragsverandering) te werken, maar dat dit niet voor iedereen en alle organisaties mogelijk is. Soms spelen er ook andere belangen, bijvoorbeeld politieke belangen. Maar andere belangen, ook politieke belangen, zouden effectieve preventie, gezondheidszorg, en dus effectieve gedragsverandering nooit in de weg moeten staan.</p>
<p>Om een eventuele ‘conflict of interest’ te disclosen: ik zit vanuit mijn werk als wetenschapper, gespecialiseerd in effectieve gedragsverandering in het algemeen en toegepast op het uitgaansleven in het bijzonder, in de begeleidingscommissie van Unity en in de projectcommissie van Celebrate Safe.</p>
</div>
