---
author: GjaltJornPeters
comments: true
date: 2018-09-11 06:47:57+00:00
layout: post
link: https://sciencer.eu/2018/09/de-wereld-gebruikt-veel-minder-xtc-pillen-dan-geschat/
slug: de-wereld-gebruikt-veel-minder-xtc-pillen-dan-geschat
title: De wereld gebruikt veel minder XTC pillen dan geschat
wordpress_id: 144
categories:
- Scientific Scrutiny
---



<p>Op 25 augustus 2018 kwam het boek “<a href="https://www.politieacademie.nl/actueel/SiteAssets/Paginas/Nederland-toppositie-in-synthetische-drugsproductie/Waar%20een%20klein%20land%20groot%20in%20kan%20zijn.pdf">Waar een klein land groot in kan zijn</a>” uit van Pieter Tops, Judith van Valkenhoef, Edward van der Torre en Luuk van Spijk. In dit boek berekenden de auteurs dat er jaarlijks in Nederland 971 566 879 XTC pillen worden geproduceerd, waarvan 80% wordt geëxporteerd. Er zijn veel reacties op dit boek gekomen, waar de auteurs op hebben gereageerd door met een ander exportpercentage de totale omzet te herberekenen. In deze blog post reageer ik hierop door uit te rekenen hoeveel XTC pillen de wereld elk jaar consumeert, waaruit volgt dat niet het exportpercentage niet klopt, maar de geschatte totale XTC productie.</p>
<!-- more -->
<p>De website Legalize plaatste <a href="https://www.legalize.net/news/268/moet_nederland_een_politiestaat_worden_de_politieacademie_vindt_van_wel.html">een analyse</a> waarin het boek in een politiek kader wordt geplaatst, als middel om harder tegen drugscriminaliteit op te treden, en wijzen op de gebleken ineffectiviteit van die repressieve aanpak. In een <a href="https://www.volkskrant.nl/columns-opinie/legalisering-van-drugs-is-de-enige-reele-oplossing~bf688efa/">ingezonden brief aan de Volkskrant</a> deelt politicoloog Joost Smiers dit standpunt, en geeft hij aan dat politiecapaciteit beter ingezet kan worden om de wapen- en vrouwenhandel te bestrijden. Beide reacties veronderstelden dat de berekeningen van Tops en collega’s klopten, en beargumenteerden waarom hun conclusies (dat er meer politiecapaciteit nodig was om de productie en handel in drugs te bestrijden) niet klopten. Er zijn echter ook vraagtekens geplaatst bij de berekeningen zelf.</p>
<p>In mijn eerdere <a href="https://sciencer.eu/2018/08/nederland-gebruikt-veel-minder-xtc-pillen-dan-geschat/">blog post</a> berekende ik al hoeveel XTC er jaarlijks in Nederland gebruikt wordt op basis van de prevalentie, gebruiksfrequentie, en gebruiksintensiteit. Ik concludeerde dat de schatting dat Nederlanders 194 313 376 pillen per jaar consumeren onrealistisch was en trok daarmee ook de overige berekeningen in het boek in twijfel. Ton Nabben reageerde in een <a href="https://www.nrc.nl/nieuws/2018/09/04/twee-gram-speed-per-dag-onmogelijk-a1615142">ingezonden brief naar NRC</a> en kwam met dezelfde boodschap en conclusie: de getallen kunnen niet kloppen. Dit werd bevestigd door een andere <a href="https://www.nrc.nl/nieuws/2018/09/06/overdrijft-de-politie-drugsproductie-en-sterker-de-omzet-is-zelfs-nog-hoger-a1615612">ingezonden brief in NRC</a> van Pim de Voogt, Annemarie van Wezel en Erik Emke, die wezen op de inconsistentie van de schattingen voor het gebruik in Nederland met cijfers uit het rioolwater. Zij concludeerden:</p>
<blockquote>
Als we ervan uitgaan dat de Politieacademie de totale productie van speed en xtc correct inschat, en het drugsgebruik in Nederland lager blijkt (KWR, Trimbos), dan rest één conclusie: er zijn meer drugs geëxporteerd dan in het rapport aangegeven.
</blockquote>
<p>Deze herberekening vormt ook de kern van de reacties van de auteurs. Zij reageren via twee kanalen. Judith van Valkenhoef postte <a href="https://www.youtube.com/watch?v=mvqI9wHfEro">een vlog</a> waarin ze uitlegde dat bij lager gebruik in Nederland, de exportcijfers hoger worden, en wees op de eigen berekeningen van de onderzoekers op pagina 239 van het boek. Hierin legden de onderzoekers uit waarom ze uitgingen van 80% export:</p>
<blockquote>
Berekeningen van het binnenlandse aandeel in mdma en amfetaminegebruik komen uit op percentages van respectievelijk rond de 3,8 en 0,29. Dit lijkt onwaarschijnlijk laag. Experts gaan uit van een hoger percentage; hun oordelen lopen uiteen van 5% tot 20%. Wij zullen hier uitgaan van een percentage van 20% voor binnenlands gebruik en 80% voor de export.
</blockquote>
<p>Pieter Tops en Edward van der Torre stuurden een <a href="https://www.nrc.nl/nieuws/2018/09/06/overdrijft-de-politie-drugsproductie-nee-omzet-xtc-is-echt-minstens-189-miljard-a1615614">ingezonden brief naar NRC</a> waarin ze diezelfde uitleg herhalen, en uitkomen op een totale omzet van 21.3 miljard euro die zou worden gegenereerd door de Nederlandse XTC productie.</p>
<p>Het siert de onderzoekers dat ze de reacties serieus nemen en gelijk de resultaten van de aangepaste berekeningen presenteren. Een aantal van de reacties op het boek van Tops en collega’s gaf echter aan ook te twijfelen aan de totale berekende productie voor Nederland: deze zou hoger uitkomen dan realistisch. Hier gaan Tops en collega’s niet op in. De berekeningen die voor Nederland uitgevoerd kunnen worden op basis van het aantal gebruikers, kunnen echter ook voor de hele wereld uitgevoerd worden. De Verenigde Naties heeft een ‘Office on Drugs and Crime’, en verzamelden data uit de hele wereld om te schatten hoeveel middelengebruikers er wereldwijd zijn voor elk middel. Deze gegevens zijn openbaar beschikbaar in het <a href="https://www.unodc.org/wdr2018/">World Drug Report</a> (in ‘booklet 2’, pagina 40). Hier staan de schattingen voor het totale aantal XTC-gebruikers wereldwijd: de beste schatting voor het aantal XTC-gebruikers in de wereld is 20 570 000 mensen (0,42% van de bevolking), de laagste schatting is 8 990 000 mensen (0,18% van de bevolking), en de hoogste schatting 32 340 000 mensen (0,66% van de bevolking).</p>
<p>Zoals voorgerekend in mijn eerdere <a href="https://sciencer.eu/2018/08/nederland-gebruikt-veel-minder-xtc-pillen-dan-geschat/">blog post</a> gebruikt een Nederlandse XTC-gebruiker gemiddeld 7,175 keer per jaar XTC, en gaven XTC-gebruikers aan dat ze 2,37 pillen een hoge dosis vonden, en 1,57 pillen hun voorkeursdosis. In de <a href="https://doi.org/10.1177/0269881118767646">Global Drug Survey</a> werd wereldwijd een gemiddelde gebruiksdosis van 1,5 pillen gevonden, en een gemiddelde gebruiksfrequentie van 8,04 keer per jaar. Deze wereldwijde schattingen liggen erg dicht bij de Party Panel schattingen voor Nederland, en we rekenen daarom verder met een gemiddelde gebruiksdosis van 1,5 pillen per gebruiksgelegenheid en 8 gebruiksgelegenheden per jaar. Dit komt uit op een gemiddelde consumptie van 12 XTC-pillen per gebruiker per jaar. Voor de 20 570 000 XTC-gebruikers wereldwijd is de totale XTC consumptie voor de hele wereld dan 246 840 000 XTC pillen per jaar (de hoogst mogelijke schatting, gebaseerd op een prevalentie van 0,66%, zou 388 080 000 XTC pillen per jaar zijn; de laagst mogelijke schatting, gebaseerd op een prevalentie van 0,18%, zou 107 880 000 pillen zijn).</p>
<p>Tops en collega’s berekenden een totale Nederlandse XTC-pil productie van 971 566 879 pillen per jaar. Dit kan dus niet kloppen. Uitgaande van dit aantal pillen, moeten gebruikers 47,23 pillen per persoon per jaar consumeren, wat uitkomt op 5,9 pillen per keer. Uitgaande van de door Tops en collega’s gehanteerde dosis van 157 milligram MDMA per XTC pil zou dit betekenen dat XTC-gebruikers wereldwijd dus gemiddeld 8 keer per jaar 926 milligram, oftewel bijna een gram, MDMA innemen.</p>
<p>Dit is niet mogelijk: als dit wel zo zou zijn, dan zouden er veel meer incidenten door XTC-gebruik worden geregistreerd. In Nederland worden sterfgevallen door XTC niet apart geregistreerd: deze vallen in een categorie met alle andere stimulantia behalve cocaïne. Zoals beschreven in de <a href="https://www.trimbos.nl/producten-en-diensten/webwinkel/product/af1568-jaarbericht-nationale-drug-monitor-2017">Nationale Drugsmonitor 2017</a> zijn in die categorie in de periode 2013-2016 in totaal 70 sterfgevallen gerapporteerd. Een onbekend deel hiervan betrof dus vergiftiging door XTC; het is zelfs mogelijk dat al deze sterfgevallen andere middelen betroffen, zoals cafeïne, efedrine en khat. Uitgaande van 390 000 Nederlandse XTC-gebruikers die 8 keer per jaar gebruikten is in die periode 12 480 000 keer XTC gebruikt. Als gebruikers elk van die twaalf miljoen gebruiksgelegenheden bijna een gram MDMA hadden ingenomen, dan was het aantal incidenten veel hoger geweest. Het wordt nog duidelijker hoe onrealistisch dit is in licht van het feit dat bijna de helft van de XTC-gebruikers maar 1-2 keer per jaar gebruikt (45% volgens de <a href="https://doi.org/10.1177/0269881118767646">Global Drug Survey</a>). Er zijn twee mogelijkheden. Ofwel mensen die twee keer per jaar gebruiken, gebruiken bijna vier gram MDMA per keer, en mensen die een keer per jaar gebruiken, zeven gram. Dan zouden er veel meer sterfgevallen zijn geregistreerd, dus we weten dat dit niet het geval kan zijn. Of, als deze 45% van de XTC gebruikers ook 1.5 pil per sessie gebruikt, dan moet de resterende 55% een onvoorstelbare hoeveelheid pillen per jaar gebruiken om te compenseren. Ook dan zouden we veel meer ongevallen zien.</p>
<p>De totale productie die Tops en collega’s schatten kan dus niet kloppen: dit is een grove overschatting van wat mogelijke XTC-productie in Nederland kan zijn.</p>
<p>Naast dat er in de wereld per jaar ongeveer 250 miljoen XTC pillen worden gebruikt (en niet bijna een miljard, zoals nodig zou zijn als de berekeningen van Tops en collega’s zouden kloppen), wordt er niet uitsluitend in Nederland XTC geproduceerd. De gemiddelde dosis MDMA in een XTC-pil in Nederland in 2014 was volgens het Drugs Informatie en Monitoring Systeem 140 milligram, terwijl dit in Spanje en Zwitserland (afgerond) op 114 milligram lag (zie de samenvatting van data uit deze landen in <a href="https://doi.org/10.1177/0269881118767646">dit artikel</a>). Gegeven de hogere straatprijzen van XTC in het buitenland zou het niet logisch zijn om de beste kwaliteit XTC juist voor relatief weinig te verkopen in Nederland.  Het is dus niet plausibel dat XTC-producenten alleen de inferieure XTC exporteren, en dat dit de lagere kwaliteit in het buitenland verklaart.</p>
<p>De 246 840 000 XTC pillen die per jaar wereldwijd worden geconsumeerd vormen dus een bovengrens voor de mogelijke XTC-productie in Nederland. Als Nederland verantwoordelijk zou zijn voor de helft van de wereldwijde XTC-productie, dan zouden er per jaar dus 123 420 000 XTC pillen in Nederland worden geproduceerd, waarvan de 390 000 Nederlandse XTC-gebruikers er in totaal 4 680 000 gebruiken (12 per persoon per jaar). Dit zou betekenen dat er nog 118 740 000 pillen geëxporteerd kunnen worden. Echter, die schatting dat de helft van de XTC wereldwijd in Nederland is geproduceerd was arbitrair; het aantal te exporteren pillen kan dus evengoed op 50 000 000 of 175 000 000 liggen, afhankelijk van hoeveel procent van de wereldwijde XTC-productie daadwerkelijk in Nederland plaatsvindt. Zoals Tops en collega’s aangeven is niet bekend hoeveel productie er elders plaatsvindt.</p>
<p>Als het rapport van Tops en collega’s en de reacties en wederreacties die hierop volgden iets duidelijk maken, dan is het dat dit soort schattingen, omdat ze gebaseerd zijn op ketens van onzekere aannames waar cumulatief mee verder wordt gerekend, dermate onzeker zijn dat er beter geen beleid op gebaseerd kan worden. Het lijkt wel wijs om het beleid te evalueren in het licht van dit rapport en de eerder besproken reacties: de ‘war on drugs’ lijkt al met al een onverstandige benadering. Een benadering, bovendien, die bijdraagt aan stigmatisering van middelengebruikers, preventie bemoeilijkt, en gedegen voorlichting aan gebruikers in de weg staat, waardoor zij indirect bijdraagt aan incidenten en sterfgevallen. Ironisch genoeg speelt deze vorm van ‘bestrijding’ dus een indirecte rol als Nederlandse burgers overlijden aan XTC-gebruik: hoewel de bedoeling is Nederlandse burgers te beschermen tegen mogelijke gezondheidsrisico’s van middelengebruik, vergroot de nadruk op bestrijding juist die risico’s.</p>
