---
author: GjaltJornPeters
comments: false
date: 2018-09-01 10:38:52+00:00
layout: post
link: https://sciencer.eu/2018/09/much-less-ecstasy-used-and-produced-in-the-netherlands-than-recent-report-suggests/
slug: much-less-ecstasy-used-and-produced-in-the-netherlands-than-recent-report-suggests
title: Much less ecstasy used (and produced?) in the Netherlands than recent report
  suggests
wordpress_id: 138
categories:
- Politics and science
- Scientific Scrutiny
---



<p>Recently, a report came out (“Waar een klein land groot in kan zijn”) by Pieter Tops, Judith van Valkenhoef, Edward van der Torre and Luuk van Spijk (all employed by the Dutch Police Academy) drawing two sensational conclusions. First, that every year, the Netherlands produces € 18 916 882 439 (18,9 billion) worth of synthetic drugs. Second, that in the Netherlands, every year 194 313 376 ecstasy pills are used. This latter conclusions is clearly wrong, which sheds doubt on the veracity of the former. Both the original report and the abbreviated version are written in a sensationalist tone; might the authors have neglected to verify their impressive conclusions with sufficient rigor?</p>
<!-- more -->
<p>In the Netherland, the report has already been critized extensively. Dutch size <a href="https://www.legalize.net/news/268/moet_nederland_een_politiestaat_worden_de_politieacademie_vindt_van_wel.html">Legalize posted an analysis</a> (in Dutch), and Dutch newspaper de Volkskrant published a <a href="https://www.volkskrant.nl/columns-opinie/legalisering-van-drugs-is-de-enige-reele-oplossing~bf688efa/">discussion of the report that concluded that the report is a strong argument for legalisation and regulation</a>. These critisicms make sense: the report urges criminalisation, intensified police activity, and sanctioning as if these are goals rather than means. This is perhaps not surprising given the origin of the report in the police academy; nonetheless one hopes that the police force primarily aims to make itself <em>redundant</em>, instead of keeping itself occupied for the sake of being occupied.</p>
<div id="the-erroneous-estimates" class="section level1">
<h1>The erroneous estimates</h1>
<p>In table 3.4 at page 41 of the report, the authors estimate that in 2017, 971 566 879 ecstasy pills were produced in the Netherlands. They assume 157 milligrams of MDMA per pill (and a street price of € 3,50 per pill in the Netherlands; see supplement 1 on page 239 for more information). In table 3.6 on page 43 of the report they state that 20% of the ecstasy pills that are produced in the Netherlands are also being used in the Netherlands (and therefore, that 80% is being exported) and that therefore, annually, 194 313 376 ecstasy pills are being used in the Netherlands.</p>
<p>If every Dutch resident would use ecstasy, then everybody should use 194 313 376 / 17 000 000 = 11 pills per year. This seems unrealistic in itself, but perhaps there are a few users who use so much that it’s still possible that a smaller group of users uses almost 200 million pills per year. Fortunately, data on use frequencies are available.</p>
</div>
<div id="how-often-do-ecstasy-users-use-ecstasy" class="section level1">
<h1>How often do ecstasy users use ecstasy?</h1>
<p>There are a number of sources on use frequencies of ecstasy users. In this post, I’ll use the ‘Large Nightlife Study’ (het Grote Uitgaansonderzoek, by a Dutch knowledge center, the Trimbos Institute), because this is discussed in chapter 12 of the report, and the data from the samples of the Party Panel rounds of 2015, 2016, and 2018, because there we collected very detailed frequency information.</p>
<p>As mentioned on page 196 of the report, the best available estimate of the number of ecstasy users in the 16-65 year-old population is 2.9%, which yields roughly 390 000 people in the Netherlands.</p>
<p>It is important to emphasize that the Large Nightlife Study and Party Panel were not designed to sample representative samples. Recruitment occurred mostly online, and participants will often have had expectations regarding the questionnaire content in advance. Therefor, over of under estimates of substance use prevalence are likely; and this also goes for estimates concerning frequency and intensity of use. In the Large Nightlife Study and Party Panel rounds from 2015 and 2016, overestimates seem likely (in these studies, participants likely knew that the survey concerned substance use, so it makes sense that the questionnaire was mostly interesting for participants with an interest in substance use), and in the Party Panel round in 2018, underestimates seem plausible (this round concerns flirting and the crossing of sexual boundaries, and a larger proportion of the participants was female; women use less, and because this topic’s link with substance use is weaker, there was less selection for substance-using participants).</p>
<p>In the Large Nightlife Study (page 197 of the report), of those who used ecstasy in the past year, it is estimated that 18% used once, 53% a few times, 19% once a month, 9% a few times a month, 1.1% once a week, and 0.3% a few times a week (nobody used daily or almost daily). In the 2015 Party Panel round (about using highly dosed ecstasy and getting ecstasy tested) these percentages were, respectively, 19.9%, 49.4%, 16.1%, 13.4%, 0.7%, and 0.5%. In the 2016 Party Panel round (about visiting the first aid in a nightlife setting), these percentages were 23.5%, 46.9%, 13.8%, 13.8%, 1.8%, and 0.2%. Finally, for the 2018 Party panel round (about flirting and sexual boundaries), these percentages were 35.6% for using once a year, 43.8% for using a few times a year, 11.0% for using once a month, 6.8% for using a few times a month, and 2.7% for using a few times a week.</p>
<p>These estimates seem relatively homogeneous. This means that either roughly the same selection occurred in each sample, or little selection occurred with respect to use patterns, which would mean that the samples can be considered relatively representative with regards to that variable. In any case these samples seem comparable, and so we can use any of the samples to make further estimates (keeping in mind that we may end up with estimates that are too high).</p>
<p>We will further assume that all Dutch ecstasy users have the same use patterns as the nightlife patrons. Of course, there are many caveats here; but the likelihood that these samples happen to use exceptionally <em>little</em> ecstasy is low.</p>
<p>In Party Panel, the use frequencies weren’t measured in categories, but exactly: participants indicated how often in the past half year they used ecstasy (per week, per month, or in total). Because we have these exact numbers, we can now calculate how many pills are being used in the Netherlands in a year if we make one last assumption: the number of pills per occasion. I will use the Party Panel 2015 data here, which are freely available at <a href="https://partypanel.nl/resultResources/15.1/report.html">https://partypanel.nl/resultResources/15.1/report.html</a> (the table shown below is in the tab “Wave Specific Analyses”, below heading “XTC consumption in pills per year per person and in total”).</p>
Instead of making an assumption, I have calculated the total number of pills per year assuming that 1 to 10 pills were used per occasion. In addition, I calculated how many milligrams of MDMA somebody would use per occasion, again assuming 157 milligrams of MDMA per pill. I then computed the average use frequency per year and multiplied this with the number of pills per occasion to obtain the number of pills per person per year. Then, I multiplied this with the number of users in the Netherlands (390 000) to compute the total number of consumed pills per year. Finally, the final columnshows the total number of pills produced in the Netherlands assuming that 80% is being exported (i.e. five times the total consumption in the Netherlands).
<table class="table table-condensed">
<tr class="header">
Pills per occasion
Milligrams MDMA per occasion
Pills per year per person
Total pills per year
Total pills per year times five
</tr>
<tbody>
<tr class="odd">
<td align="right">
1
</td>
<td align="right">
157
</td>
<td align="right">
7.175202
</td>
<td align="right">
2798329
</td>
<td align="right">
13991644
</td>
</tr>
<tr class="even">
<td align="right">
2
</td>
<td align="right">
314
</td>
<td align="right">
14.350404
</td>
<td align="right">
5596658
</td>
<td align="right">
27983288
</td>
</tr>
<tr class="odd">
<td align="right">
3
</td>
<td align="right">
471
</td>
<td align="right">
21.525606
</td>
<td align="right">
8394987
</td>
<td align="right">
41974933
</td>
</tr>
<tr class="even">
<td align="right">
4
</td>
<td align="right">
628
</td>
<td align="right">
28.700809
</td>
<td align="right">
11193315
</td>
<td align="right">
55966577
</td>
</tr>
<tr class="odd">
<td align="right">
5
</td>
<td align="right">
785
</td>
<td align="right">
35.876011
</td>
<td align="right">
13991644
</td>
<td align="right">
69958221
</td>
</tr>
<tr class="even">
<td align="right">
6
</td>
<td align="right">
942
</td>
<td align="right">
43.051213
</td>
<td align="right">
16789973
</td>
<td align="right">
83949865
</td>
</tr>
<tr class="odd">
<td align="right">
7
</td>
<td align="right">
1099
</td>
<td align="right">
50.226415
</td>
<td align="right">
19588302
</td>
<td align="right">
97941509
</td>
</tr>
<tr class="even">
<td align="right">
8
</td>
<td align="right">
1256
</td>
<td align="right">
57.401617
</td>
<td align="right">
22386631
</td>
<td align="right">
111933154
</td>
</tr>
<tr class="odd">
<td align="right">
9
</td>
<td align="right">
1413
</td>
<td align="right">
64.576819
</td>
<td align="right">
25184960
</td>
<td align="right">
125924798
</td>
</tr>
<tr class="even">
<td align="right">
10
</td>
<td align="right">
1570
</td>
<td align="right">
71.752022
</td>
<td align="right">
27983288
</td>
<td align="right">
139916442
</td>
</tr>
</tbody>
</table>
<p>If somebody takes 10 pills, this equals 1570 milligrams, or 1.6 grams, of MDMA in one occasion. This is not realistic; we would see many more incidents if people would take this much. But even with this gross overestimate, we would only total 27983288, or 28 million, pills per year in the Netherlands.</p>
<p>In Party Panel 15.1 we also asked what dose participants consider a high dose (both in pills and in milligrams), and what their preferred dose is (again both in pills and in milligrams). Participants indicated that they considered 2.37 pills a high dose, and preferred 1.57 pills. In grams, they indicated that they considered 208 milligrams of MDMA a high dose, and preferred 166 milligrams of MDMA.</p>
<p>This confirms that the assumption that people take 10 pills of 157 milligram of MDMA per occassion is not realistic. An estimate of 3 or 4 pills per occassion seems more plausible (but even then, on the high side). We’d then estimate the total pill consumption in the Netherlands at 11 193 315 or 11 million pills per year.</p>
<p>That is a big difference with the estimate of 194 313 376 from the report; to be precise, it is 5.76% of this estimate. Hardly a negligible difference: even if the error would turn out to be that in the report, a decimal point was misplaced, the estimate would still be unrealistic. Therefore, something must have gone fundamentally wrong with those calculations.</p>
<p>By the way, one other important comment about chapter 12. In table 12.3 the ‘ever used prevalences’ are shown. For ecstasy, this was 2.5% in 1997 and 7.6% in 2017. This is increase is cited as evidence for increase in use of ecstasy. However, this reasoning does not hold: given that ecstasy use is a relatively recent phenomenon, and that ‘ever used prevalence’ can never decrease (once you used ecstasy once, this will count for the rest of your life), it makes sense that the ‘ever used prevalence’ increased between 1997 and 2016, even if the percentage of people who uses ecstasy stays exactly the same (it could even decrease, and the ‘ever used prevalence’ would still show an increase). After all, people who were born in the 1930s only had the opportunity to use ecstasy in their fifties. The likelihood that they were still active nightlife participants is negligible, but they did count in the ‘ever prevalence’ in 1997 (they were 67 years old then). Twenty years later, in 2016, a part of this non-using group will have deceased. People who were twenty years younger were in their thirties when ecstasy was introduced in the Netherlands; of this group, a larger proportion will still have had the opportunity to use ecstasy, and a much smaller proportion will have passed away in 2016. The upshot is that an increase in the ‘ever used prevalence’ is a necessary consequence of the mechanics of ‘ever used prevalence’ in combination with the relatively late introduction of ecstasy in the Netherlands, and therefore, can not tell us anything about whether the prevalence of ecstasy use increased between 1997 and 2016 or not.</p>
</div>
<div id="where-did-the-wrong-numbers-come-from" class="section level1">
<h1>Where did the wrong numbers come from?</h1>
<p>How is it possible that the numbers of consumed ecstasy pills were overestimated so grossly in this report?</p>
<p>Perhaps the estimates for the total production were correct, but almost all production is exported. However, this is inconsistent with the low quality of the ecstasy pills available in the countries around us.</p>
<p>Maybe the production is less efficient than the authors assumed, therefore their calculations on the basis of precursors were off, and the production is much, much lower than they estimated.</p>
<p>Or maybe another parameter in their calculations was wrong. They indicated that they used conservative estimates; that means that their impression of what was a conservative estimate was perhaps wrong.</p>
<p>Be that as it may, it remains very strange that no reality-check occurred at any point. 200 million is such a huge estimate that you don’t have to be an ecstasy researcher to realise that this is impossible.</p>
<p>Now, estimation is always very, very hard: and to err is human. I hope that the authors can use the bandwidth of realistic ecstasy consumption estimates as calculated here to find the mistakes in their calculations, so they can correct those.</p>
<p>In the meantime, the report does make clear that the present substance policies, in their present intensity, but especially in their present nature, fail. It is time to take step back and evaluate.</p>
</div>
<div id="drug-related-crime-literally-solve-it" class="section level1">
<h1>Drug-related crime: literally solve it</h1>
<p>The policy in the Netherlands regarding drug-related crime thus far has focused on repression. Whether or not calculation errors were made, this report very clearly shows that this is ineffective. So what policy might be effective instead?</p>
<p>As the texts that I cited in the beginning proposed: legalisation and regulation of substance use seems by far the wisest solution. This instantly robs organized (and less organised) crime of their market in the Netherlands. Additional advantages are that regulation and monitoring become possible. One of the biggest risks of substance use is accidentally taking too high a dose or taking a substance that is contaminated with unexpected or even poisonous active ingredients. This risk would immediately be eliminated. So, legalisation doesn’t only sideline organised crime, it also (perhaps more importantly) saves lives. This effect becomes even stronger if you consider the advantages regarding prevention: another big risk of substance use is polysubstance use: mixing different substances. Regulation enables much better education of users about these risks (e.g. when they buy a substance).</p>
<p>In addition, this extra prevention can be ‘free’: the VAT that can be charged over substance sales can pay for this. On page 42, the costs of an ecstasy pill of 157 milligrams of MDMA are estimated at € 0,20 per pill. If ecstasy production would be regulated, pills should contain a lower dose to facilitate sensible dosing by users. Assuming that the dose of MDMA is not the main driver of the costs (pills also contain binders and fillers, and depreciation of the equipment should also be included in the costs), pills of for example 80 milligrams will probably not cost just € 0,10, so let’s go with € 0,15 per pill. These pills can then be sold for € 2,50 each; in the Netherlands, 21% of this price, or € 0,44, would be VAT. When selling 11 million pills, this would yield 5 million euro for prevention. A higher tariff for substances/stimulants would also be possible; for example, 50%. This would still render production lucrative for entrepeneurs; each pill of € 2,50 would then yield a revenue of € 1,25 and van € 1,10 profit. At consumption of 11 million pills per year, this would produce 14 million euro for prevention. Given that test services (for drugs; we have those in the Netherlands, see <a href="https://www.drugs-test.nl">https://www.drugs-test.nl</a> - in Dutch though) will no longer be necessary, even after intensifying prevention efforts, there could still be net savings. Expertise that was accumulated regarding substance use prevention can then be re-employed to target, in parallel, addiction and educating users of the then legal substances, and this last category may even be decreased over time which would free up additional funds for for example care for the elderly.</p>
<p>The police force would then have their hands free to target the <em>export</em> of substances. By targeting import, after all, they disadvantage the producers less than by targeting export: if a precursor cannot be supplied, the producer has not yet incurred costs, so they can simply turn to another channel. If instead, a batch, once produced, cannot be exported, the risks and cost for the producers are much higher, quickly rendering the Netherlands a less attractive country for production ecstasy or amphetamine.</p>
<p>So, the best solution for drug-related crime is literally <em>solving</em> substance production, sales, and use in legal society, instead of fighting it. This saves lives, saves society money, and sidelines organised crime.</p>
</div>
