---
author: GjaltJornPeters
comments: false
date: 2018-09-11 06:46:05+00:00
layout: post
link: https://sciencer.eu/2018/09/how-much-xtc-does-the-world-use-every-year/
slug: how-much-xtc-does-the-world-use-every-year
title: How much XTC does the world use every year?
wordpress_id: 146
categories:
- Politics and science
- Scientific Scrutiny
---



<p>On the 25th August 2018, the book “<a href="https://www.elevenpub.com/criminology/catalogus/the-netherlands-and-synthetic-drugs-1">The Netherlands and synthetic drugs</a>” by Pieter Tops, Judith van Valkenhoef, Edward van der Torre and Luuk van Spijk was published. In this book, the authors calculated that in the Netherlands, annually 971 566 879 XTC pills are produced, 80% of which is exported. This book prompted many reactions, and the authors responded to these again by recalculating the export percentage. In this blog post I respond by calculating how much XTC the world uses every year, a number that implies that the export percentage was not what was incorrect, but the total production estimate.</p>
<!-- more -->
<p>The Dutch website Legalize posted <a href="https://www.legalize.net/news/268/moet_nederland_een_politiestaat_worden_de_politieacademie_vindt_van_wel.html">an analysis</a> placing the book in a political perspective, as instrument to promote harsher drug crime policies, and underlined the evidenced ineffectiveness of the standing repressive approach. In a <a href="https://www.volkskrant.nl/columns-opinie/legalisering-van-drugs-is-de-enige-reele-oplossing~bf688efa/">letter to Dutch newspaper De Volkskrant</a>, politicologist Joost Smiers shares this point of view, and explains that police capacity would be better employed in the detection and fighting of weapon and women trafficking. Both responses assumed that the calculations of Tops and colleagues were correct, and argued why their conclusions (that more police capacity was needed to fight the production and trafficking of drugs) were wrong. However, doubts have been cast over the calculations themselves as well.</p>
<p>Gjalt-Jorn Peters calculated in his <a href="https://sciencer.eu/2018/09/much-less-ecstasy-used-and-produced-in-the-netherlands-than-recent-report-suggests/">blog post</a> how much XTC was used annually in the Netherlands based on the prevalence, use frequency, and use intensity. He concluded that the estimate that the Dutch consume 194 313 376 pills annually was unrealistic, and in doing so also questioned the other calculations in the book. Ton Nabben responded in a letter to <a href="https://www.nrc.nl/nieuws/2018/09/04/twee-gram-speed-per-dag-onmogelijk-a1615142">Dutch newspaper NRC</a> with the same message: these numbers cannot be correct. This was confirmed in a second <a href="https://www.nrc.nl/nieuws/2018/09/06/overdrijft-de-politie-drugsproductie-en-sterker-de-omzet-is-zelfs-nog-hoger-a1615612">letter to NRC</a> by Pim de Voogt, Annemarie van Wezel, and Erik Emke, who used data based on sewage water to point out that use in the Netherlands is much lower. They concluded:</p>
<blockquote>
If we assume that the police academy estimated the total production of amphetamines and XTC correctly, and the Dutch substance use turns out to be lower, then only one conclusion remains: more drugs have been exported than estimated in the report.
</blockquote>
<p>This recalculation also forms the core of the reactions by the authors. They responded through two channels. Judith van Valkenhoef published <a href="https://www.youtube.com/watch?v=mvqI9wHfEro">a vlog</a> where she explains that with lower XTC consumption in the Netherlands, the estimate for exported drugs increases, and pointed to the researchers’ own calculations on page 239 of the book (only in the <a href="https://www.politieacademie.nl/actueel/SiteAssets/Paginas/Nederland-toppositie-in-synthetische-drugsproductie/Waar%20een%20klein%20land%20groot%20in%20kan%20zijn.pdf">full, Dutch version</a>). Here, the authors explain why they assumed that 80% of the drugs was exported:</p>
<blockquote>
Calculations of the domestic part in MDMA and amphetamine use yield percentages of respectively around 3.8 and 0.29. This seems implausibly low. Experts assume a higher percentage; their estimates range from 5% to 20%. In this book, we will assume a percentage of 20% for domestic use and 80% for export.
</blockquote>
<p>Pieter Tops and Edward van der Torre sent a letter to NRC where they explained the same reasoning, and recalculated a total revenue of 21.3 billion euro supposedly generated by the Dutch XTC production.</p>
<p>It is commendable that the researchers take the reactions seriously and immediately present the results of the adjusted calculations. However, a number of the reactions of their book also questioned the total production estimates: this would be unrealistically high. Tops and colleagues do not discuss this. Fortunately, the calculations that were conducted for the Netherlands based on the number of XTC users can also be conducted for the whole world. The United Nations has an Office on Drugs and Crime, and collect data from the whole world to estimate how many substance users there are for every drug. These data are publicly available in the <a href="https://www.unodc.org/wdr2018/">World Drug Report</a> (in booklet 2, page 40). This has estimates for the total number of XTC users worldwide: the best estimate is 20 570 000 people (0.42% of the global population), the lowest estimate is 8 990 000 people (0.18% of the population), and the highest estimate is 32 340 000 people (0.66% of the population).</p>
<p>As calculated in Peters’ blog, a Dutch XTC user, on average, uses XTC  7.175 times per year, and XTC users indicated that they consider 2.37 pills a high dose and that their preferred dose was 1.57 pills. In the <a href="https://doi.org/10.1177/0269881118767646">Global Drug Survey</a>, an average worldwide dose of 1.5 pills per session was found, and an average frequency of 8.04 times per year. These international estimates are very close to the Party Panel estimates that were used for the Netherlands, and therefore we will continue the calculations with an average dose of 1.5 pills per session and a use frequency of 8 times per year. This yields an average consumption of 12 XTC pills per user per year. For the 20 570 000 XTC users worldwide, then, the total global XTC consumption is estimated at 246 840 000 XTC pills per year (the highest possible estimate, based on a prevalence of 0.66%, would be 388 080 000 XTC pills per year; the lowest possible estimate, based on a prevalence of 0.18%, would be 107 880 000 pills).</p>
<p>Tops and colleagues calculated that in the Netherlands, 971 566 879 XTC pills were produced annually. This cannot be correct. Assuming this number of pills, users have to consume 47.23 pills per person per year, which boils down to 5.9 pills per session. Assuming the dose of 157 milligrams of MDMA that Tops and colleagues use, this would mean that XTC users worldwide use 926 milligram, or almost a gram, of MDMA on average 8 times a year.</p>
<p>This is not possible: if this would be true, there would be many more incidents due to XTC use. In the Netherlands, XTC incidents are not registered separately: they fall within a category with all other stimulants except cocaine. As described in the <a href="https://www.trimbos.nl/producten-en-diensten/webwinkel/product/af1568-jaarbericht-nationale-drug-monitor-2017">National Drug Monitor 2017</a>, in that category in 2013-2016, in total 70 deaths were registered. An unknown part of these concern intoxication by XTC; it is even possible that all these deaths concern other substances such as caffeine, ephedrine, or khat. Assuming 390 000 Dutch XTC users who use 8 times a year, in that period, there were 12 480 000 instances of XTC use. If users would have used almost a gram of MDMA per session, the number of incidents would be much higher. It becomes even clearer how unrealistic this is in light of the fact that almost half of the  XTC-users only use 1-2 times per year (45% according to the <a href="https://doi.org/10.1177/0269881118767646">Global Drug Survey</a>). This leaves only two scenarios. The first is that XTC users who use twice a year use almost four grams of MDMA per session, and XTC users who use once a year use seven grams of MDMA per session. We would see many more XTC intoxications, and so we know this cannot be the case. Alternatively, if this 45% of XTC users sticks to 1.5 pills per session, this would mean that the remaining 55% of XTC users would have to use an incredible number of pills per year to compensate. In that scenario, too, we would see many more XTC-related incidents.</p>
<p>Therefore, the total production as estimated by Tops and colleagues cannot be correct: it is a gross overestimate of what the production in the Netherlands can possibly be.</p>
<p>Not only is the worldwide XTC consumption 250 million pills per year (and not almost a billion, as the calculations of Tops and colleagues would require if they had been correct), global XTC production is not limited to the Netherlands. The average dose of MDMA in an XTC pill in the Netherlands in 2014 was 140 milligrams according to the Dutch Drug Information and Monitoring System, while in Spain and Austria, the (rounded) average dose was 114 milligrams (see the summary of these data in <a href="https://doi.org/10.1177/0269881118767646">this article</a>). Given the higher street price of XTC in other countries than the Netherlands, it wouldn’t make sense to sell the highest quality XTC for relatively low prices in the Netherlands. Therefore, it is not plausible that XTC producers export only inferior XTC, and that that would explain the lower quality of other countries.</p>
<p>The 246 840 000 XTC pills that are globally consumed annually form an upper limit for the possible XTC production in the Netherlands. If the Netherlands would be responsible for half of the global XTC production, every year, the Netherlands would produce 123 420 000 XTC pills, of which 390 000 Dutch XTC users would use in total 4 680 000 pills (12 per person per year). This would mean that 118 740 000 pills remain for export. However, that estimation that half of the global XTC production originates in the Netherlands was arbitrary; therefore, the number exported pills can just as easy be at 50 000 000 or 175 000 000, depending on which percentage of the global XTC production occurs in the Netherlands. As Tops and colleagues indicate, it remains unknown how much production happens elsewhere.</p>
<p>If the report of Tops and colleagues and the reactions it prompted make something clear, it is that estimates such as these, being based on chains of uncertain assumptions that are used in cumulative calculations, are so uncertain that they should not be the basis for policy decisions. It does seem wise to evaluate the standing policy in light of this report and the reactions discussed earlier: all in all, the ‘war on drugs’ does not seem a prudent approach. What’s more, it’s an approach that contributes to stigmatisation of substance users, hinders prevention efforts, and hampers adequate education of users, which indirectly contributes to incidents and deaths. Ironically, this ‘combat’ plays an indirect role when Dutch citizens die as a consequence of XTC use: although the intention is to protect Dutch citizens against the potential health risks of substance use, this emphasis on combating drugs end up enlarging those risks.</p>
