---
author: GjaltJornPeters
comments: false
date: 2018-08-28 16:21:00+00:00
layout: post
link: https://sciencer.eu/2018/08/nederland-gebruikt-veel-minder-xtc-pillen-dan-geschat/
slug: nederland-gebruikt-veel-minder-xtc-pillen-dan-geschat
title: Nederland gebruikt veel minder XTC pillen dan geschat
wordpress_id: 124
categories:
- Politics and science
- Scientific Scrutiny
---



<p>Recent kwam het rapport “Waar een klein land groot in kan zijn” uit van Pieter Tops, Judith van Valkenhoef, Edward van der Torre en Luuk van Spijk (allemaal werkzaam bij de Politieacademie), waarin twee sensationele uitspraken worden gedaan. Ten eerste wordt gesteld dat er in Nederland per jaar voor 18 916 882 439 (18,9 miljard) aan synthetische drugs wordt geproduceerd. Ten tweede wordt gesteld dat er in Nederland per jaar 194 313 376 pillen worden gebruikt. Deze tweede stelling is duidelijk fout, wat ook gerede twijfel oproept over de waarheid van de eerste stelling. De toon van zowel het rapport als de verkorte notitie die ermee gepaard ging verraadt sensationalisme; wellicht hebben de auteurs hun opzienbarende conclusies onvoldoende grondig gecontroleerd?</p>
<!-- more -->
<p>Het rapport ligt al breder onder vuur. <a href="https://www.legalize.net/news/268/moet_nederland_een_politiestaat_worden_de_politieacademie_vindt_van_wel.html">Legalize plaatste een analyse</a> en in de Volkskrant verscheen een <a href="https://www.volkskrant.nl/columns-opinie/legalisering-van-drugs-is-de-enige-reele-oplossing~bf688efa/">pleidooi voor legalisering en regulatie</a> van de productie van de betreffende middelen (e.g. XTC). Deze kritiek is terecht; het rapport zet in op criminalisering, opsporing, en sanctionering alsof dit een doel is in plaats van een middel. Dit is wellicht niet vreemd gegeven de oorsprong van het rapport in de politieacademie; tegelijkertijd mag men hopen dat het politieapparaat in de eerste plaats tot doel heeft zichzelf <em>overbodig</em> te maken, in plaats van zichzelf aan het werk te houden.</p>
<div id="de-foute-schattingen" class="section level1">
<h1>De foute schattingen</h1>
<p>In tabel 3.4 op pagina 41 van het rapport wordt gesteld dat de onderzoekers schatten dat er in 2017 in Nederland 971 566 879 XTC-pillen zijn geproduceerd. Er wordt uitgegaan van 157 milligram MDMA per pil (en een straatprijs van € 3,50 per pil; zie verder bijlage 1 op pagina 239). In tabel 3.6 op pagina 43 van het rapport wordt gesteld dat 20% van de XTC-pillen die in Nederland worden geproduceerd ook in Nederland wordt gebruikt (en dat 80% wordt geëxporteerd) en dat er dus jaarlijks 194 313 376 XTC-pillen in Nederland worden gebruikt.</p>
<p>Als elke Nederlander XTC zou gebruiken, dan zou elke Nederlander dus per jaar 194 313 376 / 17 000 000 = 11 pillen gebruiken. Dit lijkt al onrealistisch, maar misschien zijn er wel een paar gebruikers die zo veel gebruiken dat het toch mogelijk is dat een kleinere groep gebruikers toch bijna 200 miljoen pillen per jaar gebruikt. Gelukkig hebben we hier data over.</p>
</div>
<div id="hoe-vaak-gebruiken-xtc-gebruikers" class="section level1">
<h1>Hoe vaak gebruiken XTC-gebruikers?</h1>
<p>Er zijn een aantal bronnen over gebruiksfrequentie van XTC-gebruikers. Ik werk hier met het Grote Uitgaansonderzoek, omdat dit in hoofdstuk 12 van het rapport wordt besproken, en met de gegevens uit de steekproeven van de Party Panel rondes in 2015, 2016, en 2018, omdat we hier heel gedetailleerde frequentie-informatie hebben verzameld.</p>
<p>Zoals op pagina 196 van het rapport staat, wordt geschat dat ongeveer 2,9% van de 16-65-jarige populatie XTC gebruikt; dit komt uit op ongeveer 390 000 mensen.</p>
<p>Het is belangrijk om te beseffen dat het Grote Uitgaansonderzoek en Party Panel niet zijn opgezet om representatieve steekproeven te werven. Er wordt veelal online geworven waarbij veel deelnemers van te voren al verwachtingen zullen hebben over de inhoud van de vragenlijst. Daarom is een over- of onderschatting van de prevalentie van middelengebruik aannemelijk; en dit geldt ook voor schattingen met betrekking tot de hoeveelheid. Bij het Grote Uitgaansonderzoek en de Party Panel rondes uit 2015 en 2016 is overschatting plausibel (hierbij weten deelnemers dat het over middelengebruik gaat, en dus is het aannemelijk dat de vragenlijst vooral interessant zal zijn voor mensen met een interesse in middelengebruik), en bij de Party Panel ronde uit 2018 is onderschatting plausibel (deze ronde betrof seksueel grensoverschrijdend gedrag, en er deden vooral vrouwen mee; vrouwen gebruiken minder, en omdat de link met middelengebruik hier zwakker is, is ook niet geselecteerd op mensen die middelengebruik interessant vinden).</p>
<p>In het Grote Uitgaansonderzoek (pagina 197 van het rapport) wordt geschat dat van degenen die in het afgelopen jaar XTC hebben gebruikt, 18% een keer gebruikte, 53% een paar keer, 19% een keer per maand, 9% een paar keer per maand, 1.1% eens per week, en 0.3% een paar keer per week (niemand gebruikt dagelijks of bijna dagelijks). In de Party Panel ronde uit 2015 (over hooggedoseerde XTC en XTC laten testen) waren deze percentages respectievelijk 19.9%, 49.4%, 16.1%, 13.4%, 0.7%, en 0.5%. In de Party Panel ronde uit 2016 (over het bezoeken van de eerste hulp in het uitgaansleven) waren deze percentages respectievelijk 23.5%, 46.9%, 13.8%, 13.8%, 1.8%, en 0.2%. Tot slot zijn deze percentages in de Party Panel ronde uit 2018 (over seksueel grensoverschrijdend gedrag) 35.6%  voor een keer, 43.8% voor een paar keer per jaar, 11.0% voor eens per maand, 6.8% voor een paar keer per maand, en 2.7% voor een paar keer per week.</p>
<p>Deze schattingen zijn relatief homogeen: alleen de laatste Party Panel ronde komt uit op lagere gebruiksfrequenties. Dat betekent dat ofwel ongeveer dezelfde selectie heeft plaatsgevonden in de steekproef, ofwel er weinig selectie heeft plaatsgevonden met betrekking tot gebruikspatronen, wat zou betekenen dat de steekproeven met betrekking tot die variabele als relatief representatief zouden kunnen worden beschouwd. Deze steekproeven lijken dus vergelijkbaar, en we kunnen deze data dus gebruiken om verdere (wellicht iets te hoge) schattingen te maken.</p>
<p>We maken dan verder de aanname dat alle Nederlandse XTC-gebruikers dezelfde gebruikerspatronen hebben als het uitgaanspubliek. Hier is natuurlijk ook het een en ander op aan te merken; maar de kans dat deze steekproeven toevallig bijzonder <em>weinig</em> XTC gebruiken is laag.</p>
<p>In Party Panel zijn de gebruiksfrequenties niet uitgevraagd in categorieen, maar exact: deelnemers gaven aan hoe vaak ze in het afgelopen halfjaar XTC hadden gebruikt (per week, per maand, of in totaal). Omdat we deze exacte aantallen hebben, kunnen we nu uitrekenen hoeveel pillen er per jaar in Nederland worden gebruikt als we nog een laatste aanname maken: het aantal pillen per sessie. Ik werk hierbij met de Party Panel 2015 data. Deze zijn openbaar toegankelijk op <a href="https://partypanel.nl/resultResources/15.1/report.html">https://partypanel.nl/resultResources/15.1/report.html</a> (deze tabel staat in tab “Wave Specific Analyses”, en dan naar kopje “XTC consumption in pills per year per person and in total”.</p>
In plaats van een aanname te maken, heb ik voor 1 tot en met 10 pillen per gebruiksgelegenheid uitgerekend hoeveel pillen er per jaar gebruikt zouden worden. Ik heb bovendien uitgerekend hoeveel milligram MDMA iemand dan per gebruiksgelegenheid zou gebruiken, weer uitgaande van 157 milligram per pil. Vervolgens heb ik de gemiddelde gebruiksfrequentie vermenigvuldigd met het aantal pillen per gebruiksgelegenheid om tot een schatting van het aantal pillen per jaar per persoon te komen. Toen heb ik dat vermenigvuldigd met het aantal gebruikers in Nederland (390 000) om tot het totale aantal afgenomen pillen per jaar te komen. Tot slot staat in de laatste kolom het totale aantal pillen dat in Nederland geproduceerd wordt als inderdaad 20% in Nederland wordt afgezet (dus het vijfvoudige van de vierde kolom).
<table class="table table-condensed">
<tr class="header">
Pills per occasion
Milligrams MDMA per occasion
Pills per year per person
Total pills per year
Total pills per year times five
</tr>
<tbody>
<tr class="odd">
<td align="right">
1
</td>
<td align="right">
157
</td>
<td align="right">
7.175202
</td>
<td align="right">
2798329
</td>
<td align="right">
13991644
</td>
</tr>
<tr class="even">
<td align="right">
2
</td>
<td align="right">
314
</td>
<td align="right">
14.350404
</td>
<td align="right">
5596658
</td>
<td align="right">
27983288
</td>
</tr>
<tr class="odd">
<td align="right">
3
</td>
<td align="right">
471
</td>
<td align="right">
21.525606
</td>
<td align="right">
8394987
</td>
<td align="right">
41974933
</td>
</tr>
<tr class="even">
<td align="right">
4
</td>
<td align="right">
628
</td>
<td align="right">
28.700809
</td>
<td align="right">
11193315
</td>
<td align="right">
55966577
</td>
</tr>
<tr class="odd">
<td align="right">
5
</td>
<td align="right">
785
</td>
<td align="right">
35.876011
</td>
<td align="right">
13991644
</td>
<td align="right">
69958221
</td>
</tr>
<tr class="even">
<td align="right">
6
</td>
<td align="right">
942
</td>
<td align="right">
43.051213
</td>
<td align="right">
16789973
</td>
<td align="right">
83949865
</td>
</tr>
<tr class="odd">
<td align="right">
7
</td>
<td align="right">
1099
</td>
<td align="right">
50.226415
</td>
<td align="right">
19588302
</td>
<td align="right">
97941509
</td>
</tr>
<tr class="even">
<td align="right">
8
</td>
<td align="right">
1256
</td>
<td align="right">
57.401617
</td>
<td align="right">
22386631
</td>
<td align="right">
111933154
</td>
</tr>
<tr class="odd">
<td align="right">
9
</td>
<td align="right">
1413
</td>
<td align="right">
64.576819
</td>
<td align="right">
25184960
</td>
<td align="right">
125924798
</td>
</tr>
<tr class="even">
<td align="right">
10
</td>
<td align="right">
1570
</td>
<td align="right">
71.752022
</td>
<td align="right">
27983288
</td>
<td align="right">
139916442
</td>
</tr>
</tbody>
</table>
<p>Als iemand 10 pillen neemt, zou diegene 1570 milligram, oftewel 1.6 gram, MDMA innemen in een gelegenheid. Dit is niet realistisch; we zouden veel meer incidenten hebben als mensen zoveel zouden nemen. Maar zelfs met deze forse overschatting zouden we nog maar op 27983288, of 28 miljoen, pillen per jaar komen in Nederland.</p>
<p>In Party Panel 15.1 hebben we ook gevraagd wat voor dosis deelnemers een hoge dosis vinden (zowel in pillen als in milligram), en wat hun voorkeursdosis is (weer in zowel pillen als milligram). Deelnemers gaven aan dat ze 2.37 pillen een hoge dosis vonden, en 1.57 hun voorkeursdosis. In grammen gaven ze aan dat ze 208 milligram MDMA een hoge dosis vonden, en 166 milligram hun voorkeursdosis.</p>
<p>Dit bevestigt dat de aanname dat mensen 10 pillen van 157 milligram MDMA per gelegenheid nemen niet realistisch is. Een schatting van 3, maximaal 4 pillen per gelegenheid lijkt plausibeler (maar is dan nog fors aan de hoge kant). We komen dan uit op een totale pillenconsumptie van 11 193 315 oftewel 11 miljoen pillen in Nederland.</p>
<p>Dit is een groot verschil met de schatting van 194 313 376 uit het rapport; het is om precies te zijn 5.76% van deze schatting. Dat is geen verwaarloosbaar verschil in schatting: zelfs als er een decimaal verkeerd zou zijn geplaats in de schatting uit het rapport zou dit nog steeds een onrealistische schatting zijn. Er is dus iets fundamenteel fout gegaan met deze berekeningen.</p>
<p>Overigens nog een aantekening bij hoofdstuk 12. In tabel 12.3 worden de ‘ooit prevalenties’ getoond. Voor XTC was deze in 1997 2.5, en in 2017 7.6%. Dit wordt vervolgens genoemd als aanwijzing dat het gebruik toeneemt. Dit is echter niet logisch: gegeven dat XTC nog maar recent gebruikt wordt, en de ‘ooit prevalentie’ nooit kan afnemen (als je eenmaal een keer XTC hebt gebruikt, tel je de rest van je leven mee), is het logisch dat de ‘ooit prevalentie’ tussen 1997 en 2016 is gestegen. Mensen die rond 1930 zijn geboren zijn immers pas rond hun 50ste in de gelegenheid gekomen om deze uitgaansdrug te gebruiken. De kans dat zij toen nog actief waren in het uitgaansleven is verwaarloosbaar, maar zij telden wel mee toen de ‘ooit prevalentie’ in 1997 is gemeten (zij waren toen rond de 67). Twintig jaar later, in 2016, zal een deel van deze niet-gebruikende groep zijn overleden. Mensen die twintig jaar jonger zijn waren rond de 30 toen XTC zijn intrede deed in Nederland; van hen zal een groter deel in de gelegenheid zijn geweest om XTC te gebruiken, en bovendien zal een veel kleiner deel zijn overleden in 2016. Kortom: een stijging in de ‘ooit prevalentie’ is een noodzakelijk gevolg van de manier waarop ‘ooit prevalentie’ werkt in combinatie met de relatief late intrede van XTC in Nederland, en zegt dus niets over stijgende prevalentie tussen 1997 en 2016.</p>
</div>
<div id="waar-kwamen-de-verkeerde-getallen-vandaan" class="section level1">
<h1>Waar kwamen de verkeerde getallen vandaan?</h1>
<p>Hoe kan het dat de aantallen geconsumeerde XTC-pillen zo schromelijk zijn overschat in “Waar een klein land groot in kan zijn”?</p>
<p>Misschien zijn de schattingen voor de totale productie correct, maar wordt bijna uitsluitend geëxporteerd. Dit is echter inconsistent met de lage kwaliteit van XTC-pillen die in de landen om ons heen beschikbaar is.</p>
<p>Misschien is de productie minder efficiënt dan de auteurs veronderstelden, kloppen dus hun berekeningen op basis van grondstoffen niet, en ligt de productie vele malen lager dan zij schatten.</p>
<p>Of misschien klopt een andere parameter niet. Ze geven aan dat ze conservatief hebben gerekend; dat betekent dat hun indruk van conservatieve waarden van de gebruikte parameters wellicht fout is.</p>
<p>Hoe dan ook is het vreemd dat er geen reality-check heeft plaatsgevonden. 200 miljoen is zo’n groot getal dat ook iemand die geen onderzoek doet naar XTC-gebruik zou kunnen bedenken dat dit niet mogelijk is.</p>
<p>Nu is schatten altijd heel moeilijk; en fouten maken is menselijk. Ik hoop dat de auteurs de bandbreedte van realistische XTC-consumptie zoals hier voorgerekend kunnen gebruiken om zelf de fouten in hun berekeningen te vinden, zodat ze die kunnen corrigeren.</p>
<p>In de tussentijd maakt het rapport wel duidelijk dat het huidige middelenbeleid in haar huidige intensiteit, maar vooral, in haar fundamentele aard, faalt. Het is tijd om pas op de plaats te maken en te evalueren.</p>
</div>
<div id="drugscriminaliteit-letterlijk-oplossen" class="section level1">
<h1>Drugscriminaliteit: letterlijk oplossen</h1>
<p>Het beleid in Nederland met betrekking tot drugscriminaliteit is tot nu toe altijd gericht geweest op repressie. Of er nu rekenfouten zijn gemaakt of niet, dit rapport maakt zeer duidelijk dat dit geen effectieve aanpak is. Wat is dan wel verstandig beleid?</p>
<p>Zoals de teksten die ik in het begin aanhaalde voorstelden: legalisering en regulatie van middelengebruik lijkt veruit de verstandigste oplossing. Dit ontneemt het criminele circuit in één klap haar afzetmarkt in Nederland. Bijkomende voordelen zijn dat de regulatie en toezicht mogelijk worden. Een van de grootste gevaren van middelengebruik is het per ongeluk gebruiken van een te hoge dosis of het gebruiken van een middel waar onverwachte of zelfs giftige actieve ingrediënten in zitten. Dit risico is in een klap geëlimineerd. Legalisering zet dus niet alleen het criminele circuit buitenspel, maar redt bovendien levens. Dit effect wordt nog sterker als je de voordelen met betrekking tot preventie meeneemt: een ander groot risico van middelengebruik is het zogenaamde ‘polydruggebruik’, het mixen van verschillende middelen. Regulatie maakt het mogelijk gebruikers veel beter voor te lichten over deze risico’s (i.e. bij aankoop van de middelen).</p>
<p>Verder verdient deze extra preventie zichzelf terug: de BTW die kan worden geheven over de verkoop van drugs kan hiervoor betalen. Op pagina 42 wordt gerekend met kosten voor een XTC-pil van 157 milligram MDMA van € 0,20 per pil. Als XTC-productie zou worden gereguleerd zouden pillen een lagere dosis moeten bevatten om verstandige dosering door gebruikers te faciliteren. Aangenomen dat de dosis niet het grootste deel van de kosten vormt (de pillen bevatten ook bindmiddel, en afschrijving van het materiaal moet ook worden meegenomen), zullen pillen van bijvoorbeeld 80 milligram waarschijnlijk niet maar € 0,10 kosten, dus laten we uitgaan van € 0,15 per pil. Deze pillen kunnen dan voor € 2,50 per stuk worden verkocht; hiervan is dan 21%, oftewel € 0,44, BTW. Bij verkoop van 11 miljoen pillen komt er dan bijna 5 miljoen vrij voor preventie. Er kan ook een hoger tarief worden gerekend; voor genotsmiddelen kan bijvoorbeeld een 50% tarief worden gehanteerd. Zelfs dan is productie lucratief voor ondernemers; per pil van € 2,50 heeft de ondernemer dan een omzet van € 1,25 en een winst van € 1,10. Bij consumptie van 11 miljoen pillen komt er dan bijna 14 miljoen vrij voor preventie. Gegeven dat ook de testservices (voor drugs; zie <a href="https://www.drugs-test.nl" class="uri">https://www.drugs-test.nl</a>) dan niet meer nodig zijn, blijft er na intensivering van preventie wellicht zelfs geld over. Expertise die inmiddels is opgebouwd met betrekking tot verslavingspreventie kan zich dan in parallel richten op echte verslaving en voorlichting aan gebruikers van de nu legale middelen, en het is denkbaar dat dit laatste deels langzaam afgebouwd kan worden waardoor er middelen vrijkomen voor bijvoorbeeld ouderenzorg.</p>
<p>Misdaadbestrijding zou dan haar handen vrij hebben om zich te richten op <em>export</em> van de middelen. Door zich te richten op import benadeelt zij immers de producenten minder dan door zich te richten op de export: als een grondstof niet wordt geleverd, zijn er nog geen kosten gemaakt, dus kunnen er gewoon andere kanalen worden ingezet. Als in plaats daarvan een eenmaal vervaardigde partij niet geëxporteerd kan worden zijn de risico’s en de kosten voor de producenten veel hoger, waardoor Nederland een minder aantrekkelijk productieland wordt.</p>
<p>De beste oplossing voor drugscriminaliteit is dus letterlijk <em>oplossing</em> in de legale samenleving, in plaats van bestrijding. Dit redt levens, bespaart de samenleving geld, en zet de criminaliteit buitenspel.</p>
</div>
