---
title: "Is er sprake van 'normalisering' van drugsgebruik?"
author: Gjalt-Jorn Peters
date: '2019-10-14'
slug: is-er-sprake-van-normalisering-van-drugsgebruik
categories: []
tags: []
editor_options: 
  chunk_output_type: console
---



<p>Het Trimbos Instituut publiceerde onlangs <a href="https://www.trimbos.nl/actueel/blogs/blog/is-er-sprake-van-normalisering-van-drugsgebruik">een blog post</a> waarin ze afsluit met:</p>
<blockquote>
<p>Is er sprake van ‘normalisering’ van drugsgebruik? Als de vraag is “Worden er door meer mainstream uitgaande jongeren en jongvolwassene tussen de 18 en 35 jaar meer partydrugs gebruikt (zoals ecstasy) en/of is het gewoner voor hen om over drugs te praten dan ongeveer 10 tot 15 jaar geleden?”, dan durven we die vraag wel met ja te beantwoorden.</p>
</blockquote>
<p>Tegelijkertijd bespreek ik deze zelfde kwestie in <a href="https://psyarxiv.com/7md48/">een Nederlandstalig artikel</a>, waar ik concludeer:</p>
<blockquote>
<p>Voor nu lijkt er dus de meeste gezondheidswinst te behalen door de aandacht te richten op degenen die uitgaandrugs frequent gebruiken, intensief gebruiken, of veelvuldig combineren. Hoewel er in deze groep zeker nog ruimte is voor verbetering, is angst voor ‘normalisering’ niet gerechtvaardigd. Uitgaandrugs zijn niet meer weg te denken, maar er is geen evidentie dat dit bijzonder schadelijk is voor de samenleving of dat gebruik toe lijkt te nemen.</p>
</blockquote>
<p>Hoe zijn deze uiteenlopende conclusies mogelijk?</p>
<p>In deze bijdrage zal ik de blog post van het Trimbos Instituut bespreken om te laten zien waarom hun conclusie niet in lijn is met de data.</p>
<div id="de-definitie-van-normalisering" class="section level2">
<h2>De definitie van normalisering</h2>
<p>Voordat ik start met de inhoudelijke analyse is het belangrijk om het over de definitie van normalisering te hebben. Ik doe dit al in detail in <a href="https://psyarxiv.com/7md48/">dit artikel</a>, waar ik concludeer dat degenen die het tegenwoordig over normalisering hebben zich niet lijken te realiseren wat de oorsprong en eigenlijke definitie van de term is. Het Trimbos Instituut definieert de term ook niet expliciet. Kennelijk is er enige huivering om dit te doen.</p>
<p>Ik denk dat elke bewering dat er iets (zoals drugsgebruik) normaliseert, moet starten met een duidelijke definitie van wat er dan precies wordt bedoeld. En voordat er wordt gesteld dat er over tijd iets verschuift, moet die definitie voldoende specifiek (en meetbaar) zijn dat ook gekeken kan worden of de bewering dat iets toe- of afneemt (of hetzelfde blijft) plausibel is.</p>
<p>In dit geval blijkt het Trimbos Instituut ‘normalisering van drugsgebruik’ te definieren als een toename in prevalentie en frequentie van drugsgebruik’: deze definitie volgt uit de afsluiting van haar bespreking van een definitie (“Dus terug naar de kern: gebruiken er tegenwoordig meer mensen drugs dan vroeger?”) en uit de conclusie die hierboven staat.</p>
<p>Als we binnen deze definitie blijven, zouden we dus naar twee dingen moeten kijken: zijn de afgelopen jaren meer mensen drugs gaan gebruiken, en/of zijn de gebruikers de afgelopen jaren vaker drugs gaan gebruiken? Het Trimbos Instituut geeft niet aan of deze twee factoren even belangrijke onderdelen van de definitie zijn (als iets minder mensen het middel gebruiken, maar de gebruikers gebruiken het iets vaker, is er dan sprake van normalisering?).</p>
<p>Verder vallen normen dus duidelijk buiten deze definitie. Normen zijn psychologisch: of mensen iets beschouwen als ‘normaal’ of niet is geen direct gevolg van prevalentie (hoeveel mensen doen het?) of frequentie (hoe vaak doen die mensen het?) van dat gedrag. De oorspronkelijke definitie van normalisering dekte dit wel (in haar dimensies van sociale en culturele accomodatie). Over veranderende normen ten opzichte van drugsgebruik zijn ook geen goede data beschkbaar, dus deze vraag is niet te beantwoorden. Dit zou vereisen dat elk jaar de subjectieve normen ten opzichte van het gebruik van verschillende drugs in verschillende settings in kaart worden gebracht. Zelfs bij <a href="https://partypanel.nl">Party Panel</a> doen we dit niet.</p>
<p>De definitie is ook nog wat te vaag om duidelijk aan te geven welke drugs dus wel, en welke drugs dus niet normaliseren. Ik denk dat een heel handig startpunt voor discussies over normalisering is dat degenen die stellen dat het fenomeen optreedt aangeven welke drugs <em>niet</em> normaliseren. Dit helpt helder te krijgen wat nu precies bedoeld wordt met normaliseren, en voorkomt dat de term een lege term wordt die slechts wordt ingezet als rhetorisch middel, los van wetenschappelijke onderbouwing.</p>
<p>Binnen deze blogpost volg ik deze wat vage definitie van het Trimbos Instituut, maar ik maak hem expliciet. Voor zover ik kan afleiden uit de blog post definieert het Trimbos Instituut normalisering als een proces waarbij een drug <em>door meer mensen vaker wordt gebruikt</em>. Overigens komt in de conclusie van het Trimbos Instituut een beetje uit de lucht vallen dat mensen makkelijker over drugs praten. Ik verdiep me al 15 jaar in recreatief middelengebruik in Nederland en onderzoek naar recreatief middelengebruik, en ik heb hier nog nooit van gehoord. Ik ken ook geen evidentie om deze stelling te ondersteunen, en het Trimbos Instituut ondersteunt deze uitspraak verder ook niet. Er is dus geen reden om aan te nemen dat dit klopt.</p>
<p>Het is belangrijk om te beseffen dat de definitie die het Trimbos Instituut lijkt te kiezen fors afwijkt van de echte definitie van normalisering zoals deze in de wetenschappelijke literatuur wordt gebruikt. Zoals ik <a href="https://psyarxiv.com/7md48/">hier</a> samenvat:</p>
<blockquote>
<p>Normalisering wordt over het algemeen als positief gezien: het concept beschreef
oorspronkelijk pogingen om gestigmatiseerde, gemarginaliseerde groepen zoveel mogelijk deel te
laten nemen aan de maatschappij (Parker, Williams, &amp; Aldridge, 2002). In de jaren negentig werd dit
concept toegepast op middelengebruik (Measham, Newcombe, &amp; Parker, 1994). Zij onderscheiden vijf
dimensies van normalisering: toegang en beschikbaarheid van middelengebruik, gangbaarheid van
uitproberen van middelen, recent en regelmatig middelengebruik, sociale accommodatie van
middelengebruik, en culturele accommodatie van middelengebruik.</p>
</blockquote>
<p>Overigens: of er volgens deze definitie sprake is van normalisering is niet te beantwoorden. Daarvoor is de monitoring van de determinanten van middelengebruik in Nederland niet goed genoeg.<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
</div>
<div id="gebruikscijfers" class="section level2">
<h2>Gebruikscijfers</h2>
<p>Er zijn drie soorten gebruikscijfers die vaak worden verzameld. De eerste is laatste-maandgebruik. Dit is veruit de belangrijkste, want dit is de enige waarin mensen die een middel relatief vaak gebruiken terugkomen.<a href="#fn2" class="footnote-ref" id="fnref2"><sup>2</sup></a></p>
<p>Daarna is er de laatste-jaarsprevalentie. Die is normaal minder interessant, omdat hier een grote groep gebruikers in zit die het middel bijna nooit gebruikt. Desalniettemin geven patronen in de laatste-jaarsprevalentie wel een indruk van hoe wijdverbreid een middel in de populatie is.</p>
<p>Tot slot is er de ‘ooit-prevalentie’. Dit is een beetje een onhandige term, want dit betreft geen prevalentie: ooit-prevalentie zegt niets over het aantal gebruikers van een middel Vergelijk dit met sporten: de ooit-prevalentie van sporten is bijna 100% in Nederland, en toch sporten te weinig mensen. De ooit-prevalentie voor de griep in Nederland is ook bijna 100%, terwijl vorig griepseizoen maar ongeveer <a href="https://www.volksgezondheidenzorg.info/onderwerp/influenza/cijfers-context/huidige-situatie">400.000 mensen griep kregen</a>.</p>
<p>Bij middelengebruik is de ooit-prevalentie niet helemaal nutteloos: hij is indicatief voor hoeveel mensen een middel uitproberen. Iedereen die een middel ooit heeft uitgeprobeerd ‘scoort’ immers op de ooit-prevalentie, ook als ze het vreselijk vonden en het sindsdien nooit meer hebben aangeraakt. Als twintig jaar geleden opeens veel mensen een middel uitproberen, blijf je dat echter zien; ooit-gebruik kan immers nooit meer dalen. Als ooit-gebruik in een bepaalde leeftijdsgroep hoog is, betekent dat niet dat die mensen het middel <em>recent</em> hebben uitgeprobeerd. Als je wil weten hoeveel mensen een middel uitproberen, kun je ze dat beter vragen.<a href="#fn3" class="footnote-ref" id="fnref3"><sup>3</sup></a></p>
<p>Verder geldt dus dat als je op basis van ooit-gebruik een idee hebt over hoeveel mensen een middel ooit hebben uitgeprobeerd, en je wil weten hoeveel mensen het middel ook echt gebruiken, je onherroepelijk weer naar laatste-jaarsprevalentie of naar laatste-maand prevalentie moet kijken. Dat betekent dat de ‘ooit-prevalentie’ ons niets kan vertellen over of er normalisering is.</p>
</div>
<div id="de-vergelijking-tussen-leeftijdsgroepen-van-het-trimbos-instituut" class="section level2">
<h2>De “Vergelijking tussen leeftijdsgroepen” van het Trimbos Instituut</h2>
<p>In haar vergelijking kijkt het Trimbos Instituut wel naar ooit-gebruik. Haar redenering hier is dat omdat ooit-gebruik hoger is in lagere leeftijdsgroepen, het gebruik dus is genormaliseerd. Echter, zoals we net zagen kan ooit-gebruik hoog zijn terwijl echt gebruik laag is. Als er geen navenante stijging waarneembaar is in de laatste-jaarsprevalentie of in de laatste-maandprevalentie, proberen meer mensen een middel uit, maar besluiten ze vervolgens het middel niet te gebruiken.</p>
<p>Zo’n expliciet besluit om niet te gebruiken is in bredere definities van normalisering overigens eerder indicatief dat een middel <em>niet</em> is genormaliseerd, dan dat het wel is genormaliseerd. Er heersen dan kennelijk geen sterke normen om het middel te gebruiken.</p>
<p>Het Trimbos Instituut stelt:</p>
<blockquote>
<p>Immers, het percentage 40’ers dat in hun twintiger jaren ooit ecstasy heeft gebruikt zal ook toen niet boven de 9% hebben kunnen liggen. Dat is een flink verschil met de 19% onder de 20-24 jarigen nu. Voor cocaïne en amfetamine zien we wederom een vergelijkbaar beeld. In de Nationale Drug Monitor kunt u per drug de exacte cijfers terugvinden.</p>
</blockquote>
<p>De vraag is dus of een grote proportie van de huidige ooit-gebruikers ook ecstasy-gebruiker is. En die vraag kunnen we voor alle middelen stellen. Het CBS verzamelt sinds 2015 data over middelengebruik. Als er sprake is van normalisering (in de definitie van een toename in gebruik) zouden de data voor de afgelopen jaren een duidelijke opwaartse trend moeten laten zien.</p>
<p>Als zo’n opwaartse trend ontbreekt, zijn er twee mogelijkheden. De eerste is dat er geen sprake is van een toename in gebruik. De tweede is dat er sprake was van een toename in gebruik, maar dat die toevallig in 2015 is gestopt en gestabiliseerd. Het tweede scenario is minder waarschijnlijk, maar leidt tot dezelfde conclusie: op dit moment, in 2019, is er geen sprake van normalisering in de betekenis van een toename in gebruik.</p>
</div>
<div id="hoeveel-mensen-gebruiken-drugs-in-nederland" class="section level2">
<h2>Hoeveel mensen gebruiken drugs in Nederland?</h2>
<p>In StatLine, het open data systeem van het CBS, staan deze data over middelengebruik, <a href="https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83021NED/table?ts=1571032194018">bijvoorbeeld hier</a>, waar <a href="https://gitlab.com/matherion/sciencer/blob/master/static/data/Leefstijl__persoonskenmerken_14102019_105510.csv">deze data</a> kunnen worden gedownload. De <a href="https://gitlab.com/matherion/sciencer/blob/master/content/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik.Rmd">broncode</a> voor deze analyses zijn ook openbaar beschikbaar (zoals dat hoort).</p>
<p>De eerste stap is het visualiseren van de data zonder selectie of verdere aanpassingen van de visualiatie. Hieronder doe ik dat apart per leeftijdscategorie.</p>
<div id="uitproberen-van-middelen-over-tijd" class="section level3">
<h3>Uitproberen van middelen over tijd</h3>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-2-1.png" width="672" /></p>
<p>In deze ’uitprobeercijfers" is inderdaad te zien dat deze onder jongere generaties hoger liggen.</p>
<p>Nu is de vraag of dit indicatief is voor normalisering, oftewel, of hieruit afgeleid kan worden dat middelengebruik toeneemt. Hiervoor kunnen we naar de laatste-jaarprevalentie kijken:</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
<p>Omdat alcoholgebruik erbij staat is het moeilijk te zien wat er met de andere middelen gebeurt, omdat ze zo weinig worden gebruikt in vergelijking met alcohol. Alleen het totale middelengebruik lijkt misschien te zijn gestegen, maar dit bevat ook cannabis, dus dit zegt weinig over illegale middelen.</p>
<p>Om een beter beeld te krijgen is hier dezelfde visualisatie, maar dan alleen de onderste 25%:</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
<p>Hier is te zien dat cannabis misschien een kleine stijging laat zien, maar dat het ook goed mogelijk is dat gebruik hetzelfde is. Hoewel de lijn op het oog lijkt te stijgen, is stabiel gebruik plausibel. Dit omdat elke puntschatting die door de lijn wordt verbeeld deels door toeval tot stand komt. Elke keer dat een steekproef wordt genomen, zal die schatting anders zijn. Dat de percentages die worden gevonden elk jaar anders zijn, impliceert dus niet dat gebruik elk jaar anders is; gebruik kan jarenlang stabiel blijven. Zolang er grofweg een horizontale lijn te trekken is door de band om elke prevalentielijn heen, zijn conclusies over stijging of daling prematuur. Door verder in te zoomen kunnen we zien wat er gebeurt met de afzonderlijke middelen (behalve cannabis, die dan buiten de grafiek valt):</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-5-1.png" width="672" /></p>
<p>Laten we ook eens alleen naar de 20-30-jarigen kijken:</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-6-1.png" width="672" /></p>
<p>Hier is duidelijk te zien dat er geen reden is om aan te nemen dat middelengebruik de afgelopen vier jaar is veranderd. Er zijn fluctuaties in de puntschattingen (de lijnen), maar de banden eromheen, die de 95% betrouwbaarheidsintervallen representeren, laten duidelijk zien dat die schattingen zo onzeker zijn dat ze consistent zijn met stabiel gebruik.</p>
<p>Laten we in de groep kijken die tien jaar ouder is:</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-7-1.png" width="672" /></p>
<p>Hier is hetzelfde plaatje te zien; minimale fluctuaties over tijd, allemaal consistent met stabiel gebruik.</p>
<p><strong>Kortom: er is geen enkele indicatie dat gebruik de afgelopen vier jaar is veranderd.</strong></p>
<p>Met betrekking tot laatste-jaargebruik geldt dus dat er ofwel geen stijging is geweest, ofwel dat die stijging toevallig net voor 2015 is gestopt. Dit geldt voor alle middelen, of het nu om cocaïne, ecstasy, speed, of andere middelen gaat.</p>
<p>Volgens de definitie van normalisering die het Trimbos Instituut hanteert is er dus duidelijk geen sprake van normalisering. Dit sluit niet uit dat er tot 2015 een stijging in middelengebruik heeft plaatsgevonden; maar de afgelopen jaren is er geen sprake geweest van normalisering volgens de definitie “normalisering is gebruik”.</p>
<p>Maar, hoewel dus niet meer mensen drugs zijn gaan gebruiken, zijn mensen misschien wel meer drugs gaan gebruiken. Om daar een idee van te krijgen kunnen we kijken of de laatste-maandprevalentie is gestegen. Gegeven dat de laatste-jaarprevalentie immers gelijk is gebleven, zou de laatste-maandprevalentie moeten zijn gestegen als mensen vaker zijn gaan gebruiken.</p>
<p>Laten we ons gemakshalve weer beperken tot deze zelfde twee leeftijdsgroepen:</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-9-1.png" width="672" /></p>
<p>In beide visualisaties is weer duidelijk te zien dat door elke band een horizontale lijn te trekken is. Al deze schattingen zijn dus consistent met gelijkblijvend gebruik over de tijd. Voor geen van beide groepen is het aannemelijk dat mensen meer drugs zijn gaan gebruiken.</p>
<p><strong>Kortom: de afgelopen vier jaar is drugsgebruik in Nederland stabiel gebleven.</strong></p>
</div>
</div>
<div id="cijfers-uit-het-uitgaansleven" class="section level2">
<h2>Cijfers uit het uitgaansleven</h2>
<p>In haar blog post bespreekt het Trimbos Instituut ook getallen die specifiek uit het uitgaansleven komen. Hier worden zo nu en dan studies uitgevoerd onder uitgaanders. Aangezien uitgaansdrugs, oftwel party drugs, waar ecstasy, cocaïne, en speed onder vallen, zo zijn genoemd omdat ze vooral in het uitgaansleven worden gebruikt, is het logisch dat de prevalenties hier hoger liggen.</p>
<p>Het probleem van veel van dit onderzoek is dat er vaak sprake is van zelfselectie. Vooral online studies hebben hier last van. Ik doe bijvoorbeeld elk jaar de Party Panel studie, een semi-panel studie waarbij we elk jaar van een ander uitgaansleven-gerelateerd risicogedrag de determinanten in kaart brengen (i.e. waarom mensen doen wat ze doen). Hier zie je dat gerapporteerd gebruik vaak hoger is in rondes waar het onderwerp middelengerelateerd is.</p>
<p>Ik heb hieronder de schattingen uit een serie van zulke studies getoond. De diamanten geven de 95% betrouwbaarheidsintervallen om elke schatting weer. De kleuren laten de verschillende soorten schattingen zien (gebruik in de laatste dag, laatste maand, laatste jaar, en ooit-gebruik), en de lijntypen laten zien uit welke studie de data komen. Rechts onderin zijn de CBS-data zichtbaar. Deze cijfers betreffen enkel ecstasygebruik, omdat dat toevallig is waar mijn proefschrift over ging, en ik dus in die literatuur het beste thuis ben.</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-10-1.png" width="672" /></p>
<p>Hier is goed zichtbaar hoe uiteenlopend de schattingen uit de verschillende studies zijn. Er komt duidelijk geen eenduidig beeld naar voren: twintig jaar vonden Van de Wijngaart et al. (1999) vergelijkbare gebruikscijfers als in de Party Panel ronde uit 2015, en aanzienlijk hoger dan in de latere Party Panel rondes. Het Grote Uitgaansonderzoek zit er tussenin, en de Antenne daalde een beetje en steeg toen weer een beetje.</p>
<p>Deze grote variabiliteit is niet vreemd: de studies lijden onder verschillende mate van zelfselectie van de steekproeven, gebruiken zelf niet elk jaar dezelfde wervingsmethoden, en werven soms in andere locaties (bijvoorbeeld meer op feesten of juist meer in clubs). Sommige studies betreffen heel Nederland (Party Panel en het Grote Uitgaansonderzoek) en andere studies alleen een stad (Antenne betreft alleen Amsterdam).</p>
<p>Zolang er geen systematische dataverzameling in de algemene populatie plaatsvindt, is het dus moeilijk iets te zeggen over trends in middelengebruik. Dat wil zeggen, er is van alles over te zeggen, maar zulke uitspraken zijn niet consistent met de data.</p>
<p>De data laten geen stijging of daling zien. In de algemene populatie lijkt drugsgebruik de afgelopen jaren onveranderd. In het uitgaansleven zou er van alles aan de hand kunnen zijn; maar hoe dan ook laten de data ook daar geen eenduidige stijging zien. Helemaal onderaan staat een volledig overzicht waarin duidelijk te zien is dat er voor geen enkel middel een stijging is, in sectie “<a href="#appendix2">Appendix 2: Gebruikscijfers over tijd per middel</a>”.</p>
<p>Kortom: waar je ook kijkt, de data over gebruikscijfers staven de uitspraak dat middelengebruik aan het stijgen is, niet. En als “normalisering” wordt gedefinieert als “meer mensen gebruiken drugs” of als “mensen gebruiken meer drugs”, dan is het dus duidelijk niet gerechtvaardigd te spreken van normalisering.</p>
</div>
<div id="hoe-kan-ooit-gebruik-stijgen-terwijl-gebruik-niet-stijgt" class="section level2">
<h2>Hoe kan ooit-gebruik stijgen terwijl gebruik niet stijgt?</h2>
<p>Hoe kan het dan dat meer jonge mensen middelen uitproberen?</p>
<p>Kennelijk besluiten meer mensen, nadat ze een middel hebben geprobeerd, dat ze het toch niet willen gaan gebruiken.</p>
<p>Dit impliceert dat er geen sterke norm is om deze middelen te gebruiken. Dit is anders dan bij bijvoorbeeld alcohol (zie bijvoorbeeld <a href="http://www.beineffable.com/10-opmerkingen-die-een-niet-alcohol-drinker-niet-meer-wil-horen/">hier</a>, <a href="https://www.manjakamman.nl/waarom-geen-alcohol-drinken/">hier</a> en [hier] (<a href="https://forum.viva.nl/relaties/commentaar-van-anderen-omdat-ik-niet-wil-drinken/list_messages/267423" class="uri">https://forum.viva.nl/relaties/commentaar-van-anderen-omdat-ik-niet-wil-drinken/list_messages/267423</a>)), een drug die wel is genormaliseerd.</p>
<p>Naast dat veel mensen besluiten dat ze een middel niet willen gaan gebruiken zijn er twee andere mogelijke verklaringen voor hoger ooit-gebruik dan laatste-jaargebruik. De eerste is dat veel gebruikers overlijden. Zoals de <a href="https://www.trimbos.nl/aanbod/webwinkel/product/af1643-jaarbericht-nationale-drug-monitor-2018">Nationale Drug Monitor</a> laat zien, overlijden er lang niet genoeg mensen aan het gebruik van drugs als ecstasy, speed, en cocaïne om deze verklaring mogelijk te maken. De tweede is dat de meeste mensen deze drugs minder dan eens per jaar gebruiken. Als iedereen een middel maar eens in de vijf jaar gebruikt, en mensen die dit verspreid over die vijf jaar (en niet allemaal tegelijk), dan vindt je een laatste-jaarprevalentie die een vijfde is van het aantal ‘gebruikers’ van de drug.</p>
<p>We weten dat we die tweede verklaring kunnen uitsluiten; alle drie studies die regelmatig in kaart brengen hoe vaak mensen gebruiken (Party Panel, de Global Drug Survey, en het Grote Uitgaansonderzoek) laten zien dat de meeste mensen 1-4 keer per jaar gebruiken. Maar zelfs als we dat niet al zouden weten, dan zou dit hypothetische scenario wel een fundamentele herdefinitie vereisen van wat het betekent om een gebruiker te zijn. Een criminele markt heeft maar bijzonder weinig afzet als het grootste deel van haar klanten maar eens in de vijf jaar een ecstasypil of een halve gram cocaïne koopt. Bovendien is het gezondheidsrisico van alle drugs een functie van gebruiksfrequentie en -intensiteit. Drugsgebruik zou gelijk bijna geen gezondheidsschade meer opleveren op populatieniveau.</p>
<p>De enige verklaring die overblijft is dus dat meer mensen drugs uitproberen, en vervolgens besluiten dat ze die drugs niet willen gebruiken. Dat impliceert dat de meeste mensen voor zichzelf besluiten welke drugs ze gebruiken: of ze koffie, alcohol, cannabis, cocaïne, ecstasy, of speed gebruiken. Alleen bij alcohol lijkt er een norm te zijn die mensen beïnvloedt om de drug te gebruiken.</p>
</div>
<div id="wat-betekent-dit-voor-preventie" class="section level2">
<h2>Wat betekent dit voor preventie?</h2>
<p>Met betrekking tot sturing van preventie-activiteiten volgen uit deze data (en andere overwegingen; zie <a href="https://psyarxiv.com/7md48/">hier</a> de volgende conclusies:</p>
<ul>
<li>Een groot deel van de huidige preventie-activiteiten richt zich op het versterken van niet-gebruikers. Blijf dit doen; de kans is groot dat dit mensen ondersteunt om een middel niet te gaan gebruiken nadat ze het hebben uitgeprobeerd.</li>
<li>Een groot deel van de huidige preventie-activiteiten richt zich ook op harm-reduction: zorgen dat als mensen een middel gebruiken, de kans op incidenten krijgen en gezondheidsschade zo klein mogelijk is. Het is heel belangrijk om dit ook te blijven doen, en liefst uit te breiden.<a href="#fn4" class="footnote-ref" id="fnref4"><sup>4</sup></a></li>
<li>Het is belangrijk om onderzoek te doen naar effectieve interventies voor mensen die vaak drugs gebruiken, mensen die veel drugs gebruiken, en mensen die veel drugs combineren. Dit is veruit de groep die het meeste risico loopt. Dit is de groep die op dit moment het meeste hulp nodig heeft.</li>
</ul>
<p>Kortom: we hoeven ons geen zorgen te maken over normalisering. De data laten duidelijk zien dat drugsgebruik op dit moment in geen enkele leeftijdsgroep aan het stijgen is; gebruikscijfers zijn al vier jaar stabiel. We moeten juist nu de kans grijpen om de mensen die drugs misbruiken (dus vaak, veel, en/of gecombineerd gebruiken) te ondersteunen. Daar gebeuren de meeste incidenten, en die mensen ondervinden de meeste gezondheidsschade. Als we het aantal drugsdoden willen terugdringen, dan moeten we ons richten op de kleine groep mensen die heel riskant gebruikt - en ondertussen inzetten op harm reduction interventies om de grote groep gebruikers die relatief weinig risico loopt, te ondersteunen zodat ze niet vaker of meer gaan gebruiken, en zo weinig mogelijk combineren met andere drugs.</p>
<!--------------------------------------------------------->
<!--------------------------------------------------------->
<!--------------------------------------------------------->
</div>
<div id="appendix1" class="section level2">
<h2>Appendix 1: Naar een definitie van normalisering</h2>
<p>Als we echt iets willen zeggen met ‘normalisering’, dan is er eerst een definitie nodig. De oorspronkelijke definitie betrof vijf dimensies: hoeveel mensen gebruiken het middel (laatste jaars-prevalentie); hoeveel mensen proberen het middel uit (ooit-gebruik); hoe toegankelijk en breed verkrijgbaar is het middel; in hoeverre is het middel sociaal geaccommodeerd; en in hoeverre is het middel cultureel geaccomodeerd? (Overigens: van deze vijf dimensies bestaat alleen evidentie over de eerste twee: hoeveel mensen middelen gebruiken en uitproberen. Er bestaat geen data over sociale en culturele accomodatie of over verkrijgbaarheid: mensen hebben hier vaak opvattingen over, maar er is geen reden om aan te nemen dat die de waarheid representeren.)</p>
<div id="oorspronkelijke-definitie" class="section level3">
<h3>Oorspronkelijke definitie</h3>
<p>In deze oorspronkelijke definitie was normalisering positief: een instrument dat werd ingezet om stigmatisering van gebruikers te verminderen en daarmee toegang tot preventie te vergroten, zodat de schade voor de volksgezondheid zou dalen. Echter, de manier waarop normalisering nu wordt gebruikt lijkt anders. Tegelijkertijd wordt er geen definitie gegeven, en het woord lijkt te worden gebruikt zonder betekenis. Om zinvol te kunnen spreken over of er sprake is van normalisering, en of dat wenselijk of onwenselijk is, is het eerst nodig overeenstemming te hebben over de definitie. Als er een fatsoenlijke definitie is, wordt het mogelijk om naar de data te kijken en te kijken of er sprake is van normalisering, en zoja, voor welke middelen. Tenzij die data er niet zijn; maar dan is tenminste duidelijk dat er geen reden is tot zorg.</p>
</div>
<div id="waarover-gaat-normalisering" class="section level3">
<h3>Waarover gaat normalisering?</h3>
<p>Een definitie van normalisering zou als eerste duidelijk moeten specificeren over welke variabelen (of dimensies) het precies gaat. Als dat duidelijk is, volgt daar voor een deel al uit of normalisering schadelijk is of niet. Als normalisering bijvoorbeeld alleen wordt gedefinieerd als het percentage mensen dat een middel gebruikt, dan is een stijging in normalisering (dus een stijging in het percentage mensen dat een middel gebruikt) pas schadelijk als het middel schadelijk is. Als normalisering in plaats daarvan wordt gedefinieerd als het percentage mensen dat een middel uitprobeert (maar dus niet gebruikt), dan volgt daar al uit dat normalisering niet schadelijk is. Het is immers goed mogelijk dat praktisch niemand het middel gebruikt, en als meer mensen een middel uitproberen, maar niet meer mensen het gaan gebruiken, dan maken dus zelfs meer mensen een weloverwogen en goed geinformeerde beslissing het middel <em>niet</em> te gaan gebruiken.</p>
</div>
<div id="meetbaarheid" class="section level3">
<h3>Meetbaarheid</h3>
<p>Een definitie van normalisering zou dus moeten vaststellen naar welke variabelen of dimensies moet worden gekeken. Dit zou zo moeten worden geformuleerd dat die meetbaar zijn. De laatste jaars-prevalentie is een goed voorbeeld van hoe normalisering bijvoorbeeld gedefinieerd kan worden. Sterker nog, ik denk zelf dat, aangenomen dat een definitie wordt vastgesteld voor iets waar mensen zich zorgen over maken, de laatste jaars-prevalentie de enige zinnige definitie is. Aangenomen dat gebruiksfrequentie (hoe vaak gebruiken mensen per jaar) en gebruiksintensiteit (hoeveel gebruiken mensen per keer) hetzelfde blijven, is die laatste jaars-prevalentie de enige van de vijf dimensies die samen kan hangen met schade voor de volksgezondheid. Hoe sociaal of cultureel geaccomodeerd een middel is, kan geen causaal effect hebben op de volksgezondheid (alleen via hoeveel mensen het middel gebruiken). Datzelfde geldt voor beschikbaarheid: als evenveel mensen het gebruiken, maakt het niet uit hoe verkrijgbaar het is. En als meer mensen een middel uitproberen, maar niet meer mensen het middel gaan gebruiken, stijgt de schade voor de volksgezondheid ook amper. Sterker nog, de kans op incidenten is juist groot als mensen een hoge dosis gebruiken en/of veel middelen combineren; beiden gedragspatronen die vooral voorkomen onder doorgewinterde gebruikers, niet onder uitprobeerders.</p>
</div>
<div id="een-toestand-of-een-proces" class="section level3">
<h3>Een toestand of een proces?</h3>
<p>Als eenmaal de dimensies zijn vastgesteld, moet vervolgens worden bepaald of die definitie van normalisering een toestand of een proces betreft - of beiden moeten worden gedefinieerd.</p>
<div id="normalisering-als-proces" class="section level4">
<h4>Normalisering als proces</h4>
<p>Als normalisering wordt beschouwd als proces wordt gedefinieerd wanneer een middel aan het normaliseren is. Dit betreft dus een ontwikkeling over tijd. Hoe lang moeten de scores op de betreffende dimensie(s) stijgen? Met hoeveel moeten ze stijgen? Moet de stijging exponentieel zijn, of volstaat lineair? Hoeveel jaar achter elkaar moet er een stijging zijn om van normalisering te spreken?</p>
<p>Je kunt bijvoorbeeld zeggen dat je over normalisering spreekt als er een stabiele toename van prevalentie is met minstens 50% over een periode van minstens 5 jaar. Dus bijvoorbeeld van 1% naar 1.5% naar 2.25% naar 3.375% naar 5.06%.</p>
<p>Of als een toename met minstens 5 procentpunt over een periode van minstens 5 jaar. Dus bijvoorbeeld van 1% naar 6% naar 11% naar 16% naar 21%.</p>
<p>Binnen deze definities (als proces) is het dus mogelijk dat er sprake is van normalisering zelfs als prevalentie laag is; het gaat om een verandering over tijd tenslotte. Wat in zo’n definitie van “normalisering als proces” belangrijk is, is wat voor verandering geobserveerd moet worden, en over minimaal hoeveel jaar.</p>
</div>
<div id="normalisering-als-toestand" class="section level4">
<h4>Normalisering als toestand</h4>
<p>Als normalisering wordt beschouwd als toestand wordt gedefinieerd wanneer een middel is genormaliseerd. Moet dan 50% van de bevolking het middel gebruiken? Of 10%? (En in dat geval: is “normalisering” de juiste term voor iets dat maar 1 op de 10 mensen doet?) Als het gaat over beschikbaarheid, hoe beschikbaar moet het middel dan zijn? Moet het in de supermarkt liggen? Kunnen illegale middelen dan uberhaupt normaliseren? Ook hiervoor geldt dat het belangrijk is om te definieren wanneer iets precies is genormaliseerd: welke grenswaarde moet worden overschreden om van normalisering te spreken? Koffie en alcohol zijn de enige twee middelen die door meer dan de helft van de bevolking worden gebruikt. Zijn dat dan de enige twee genormaliseerde middelen? Of ligt de grens ergens anders? Waar ligt die, en waarom daar?</p>
<p>Als je normalisering als toestand ziet, wordt het mogelijk om uitspraken te doen als “A is genormaliseerd”. Dan betreft je definitie alleen een grenswaarde waaraan je toetst hoe het er nu mee staat als je wil bepalen of iets normaliseert. In dat geval volstaat, als je prevalentie weer als voorbeeld neemt, een enkele prevalentie. Je zou bijvoorbeeld 25% kunnen nemen: als minstens 25% van de bevolking een laatste-jaarsprevalentie heeft voor een middel, is dat middel genormaliseerd. Het is belangrijk te onthouden dat ‘ooit-prevalentie’ hierbij niet bruikbaar is: die kan hoog zijn of stijgen, terwijl bijna niemand een middel gebruikt.</p>
</div>
</div>
<div id="andere-dimensies" class="section level3">
<h3>Andere dimensies</h3>
<p>Ik gebruik steeds prevalentie als voorbeeld om drie redenen: 1) dit lijkt te zijn waar mensen meestal op doelen als ze het over normalisering hebben; 2) dit is relatief goed meetbaar; en 3) hier hebben we data over, dus hier kun je zinnig over praten. Maar je kunt normalisering ook definieren in termen van (ook) sociale accomodatie of culturele accomodatie (zie de originele definitie hierboven). Daarover bestaat alleen geen data, dus dan kun je niet spreken van normalisering. Dat kan dan pas later, als je nu start met goed meten, en dat 5-10 jaar hebt gedaan, zodat je nietszeggende fluctuaties over tijd kunt onderscheiden van trends.</p>
</div>
<div id="toe-naar-een-definitie-samengevat" class="section level3">
<h3>Toe naar een definitie: samengevat</h3>
<p>Kortom, zonder definitie van normalisering is het een lege term die nooit en dus altijd opgaat. Zonder een degelijke definitie normaliseren tegelijkertijd koffiegebruik en ganzenborden, schoonzwemmen en euthanasie, postzegelverzamelen en spijbelen, korte broeken dragen en lange broeken dragen.</p>
<p>Zo’n definitie moet vaststellen welke dimensies (variabelen) onder ‘normalisering’ vallen, zodanig dat die meetbaar zijn; of ‘normalisering’ een toestand of een proces betreft; en bij welke grenswaarden over de normalisering van een middel gesproken kan worden.</p>
<p>Pas als dit duidelijk is, krijgt de term normalisering (letterlijk) betekenis. Pas dan wordt grondige monitoring mogelijk (want op dit moment zijn er alleen getallen over prevalenties en uitproberen). En pas dan kan er op een verantwoorde manier over normalisering worden gesproken.</p>
<!--------------------------------------------------------->
<!--------------------------------------------------------->
<!--------------------------------------------------------->
</div>
</div>
<div id="appendix2" class="section level2">
<h2>Appendix 2: Gebruikscijfers over tijd per middel</h2>
<p>Hier staat per middel en per leeftijdsgroep of er mogelijk sprake is van een stijging of daling van het gebruik in die groep. Er wordt steeds een horizontale lijn getrokken door het gemiddelde van de laagste bovengrens en de hoogste ondergrens van de schattingen. Als de laagste bovengrens hoger ligt dan de hoogste ondergrens, is er geen reden om aan te nemen dat het gebruik is veranderd: de rechte lijn valt dan altijd binnen de 95% betrouwbaarheidsintervallen. Deze lijnen worden groen getekend. Als het wel realistisch is dat er een verandering in gebruik optrad, worden de lijnen in rood getekend.</p>
<div id="tabak" class="section level3">
<h3>Tabak</h3>
<div class="figure"><span id="fig:b2e486cded8c1263ccf57f26a25b96f8"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/b2e486cded8c1263ccf57f26a25b96f8-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Tabak. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 1: Laatste jaar-gebruik (prevalentie) voor Tabak. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
</div>
<div id="alcohol" class="section level3">
<h3>Alcohol</h3>
<div class="figure"><span id="fig:8877f37f4ab7582bd3aa0311acadda8b"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/8877f37f4ab7582bd3aa0311acadda8b-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Alcohol. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 2: Laatste jaar-gebruik (prevalentie) voor Alcohol. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
</div>
<div id="cannabis" class="section level3">
<h3>Cannabis</h3>
<div class="figure"><span id="fig:24cafac8079f89448b058350835e4889"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/24cafac8079f89448b058350835e4889-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Cannabis. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 3: Laatste jaar-gebruik (prevalentie) voor Cannabis. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
</div>
<div id="speed" class="section level3">
<h3>Speed</h3>
<div class="figure"><span id="fig:e07973cf834f0b477fc8b994e193714a"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/e07973cf834f0b477fc8b994e193714a-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Speed. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 4: Laatste jaar-gebruik (prevalentie) voor Speed. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
</div>
<div id="ecstasy" class="section level3">
<h3>Ecstasy</h3>
<div class="figure"><span id="fig:d5c0490f7ba304d64f45453773f037a0"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/d5c0490f7ba304d64f45453773f037a0-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Ecstasy. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 5: Laatste jaar-gebruik (prevalentie) voor Ecstasy. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
</div>
<div id="cocaine" class="section level3">
<h3>Cocaine</h3>
<div class="figure"><span id="fig:15dfff4ffc878bf31c7c642ee4023e75"></span>
<img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/15dfff4ffc878bf31c7c642ee4023e75-1.png" alt="Laatste jaar-gebruik (prevalentie) voor Cocaine. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken" width="768" />
<p class="caption">
Figure 6: Laatste jaar-gebruik (prevalentie) voor Cocaine. Data: CBS, Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken
</p>
</div>
<!--------------------------------------------------------->
<!--------------------------------------------------------->
<!--------------------------------------------------------->
</div>
</div>
<div id="appendix-3-nog-meer-visualisaties" class="section level2">
<h2>Appendix 3: nog meer visualisaties</h2>
<p>Hieronder heb ik de volledige visualisaties van laatste-maandgebruik staan, en visualisaties van laatste jaargebruik waarbij een aantal middelen zijn weggelaten zodat je beter kunt zien wat er met de overgebleven middelen gebeurt over tijd.</p>
<p><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-12-1.png" width="672" /><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-12-2.png" width="672" /><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-12-3.png" width="672" /><img src="/post/2019-10-14-is-er-sprake-van-normalisering-van-drugsgebruik_files/figure-html/unnamed-chunk-12-4.png" width="672" /></p>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Om een vinger aan de pols te kunnen houden zou het nodig zijn om jaarlijks onder de algemene bevolking een studie te doen waarbij een aantal psychologische constructen in relatie tot middelengebruik in kaart worden gebracht. Als we daar nu mee starten hebben we over 5-10 jaar genoeg informatie over meetfout en fluctuaties over tijd om langzaam iets te gaan zeggen over of er sprake is van normalisering of denormalisering.<a href="#fnref1" class="footnote-back">↩</a></p></li>
<li id="fn2"><p>Ik gebruik hier de wetenschappelijk term ‘middel’ in plaats van de wat stigmatiserende term ‘drug’.<a href="#fnref2" class="footnote-back">↩</a></p></li>
<li id="fn3"><p>Hier kleven natuurlijk ook problemen aan; helemaal als beleid repressiever is, geven mensen minder snel eerlijk antwoord, waardoor je niet goed in kaart kunt brengen wat er met middelengebruik gebeurt.<a href="#fnref3" class="footnote-back">↩</a></p></li>
<li id="fn4"><p>Informatie over dosering van drugs zou bijvoorbeeld heel erg helpen, maar dan moeten de producenten meewerken, en dat is misschien wat lastig.<a href="#fnref4" class="footnote-back">↩</a></p></li>
</ol>
</div>
