---
title: Determinants of cannabis users' preferred modes of delivery
author: Gjalt-Jorn Peters
date: '2019-02-14'
slug: determinants-of-cannabis-users-preferred-modes-of-delivery
draft: true
categories: []
tags: []
---



<p><a href="https://scholar.google.nl/scholar?hl=nl&amp;as_sdt=0%2C5&amp;as_vis=1&amp;q=cannabis+mode+delivery&amp;btnG=" class="uri">https://scholar.google.nl/scholar?hl=nl&amp;as_sdt=0%2C5&amp;as_vis=1&amp;q=cannabis+mode+delivery&amp;btnG=</a></p>
<p><a href="https://harmreductionjournal.biomedcentral.com/articles/10.1186/s12954-016-0119-9" class="uri">https://harmreductionjournal.biomedcentral.com/articles/10.1186/s12954-016-0119-9</a></p>
<p><a href="https://scholar.google.nl/scholar?hl=nl&amp;as_sdt=0%2C5&amp;as_vis=1&amp;q=cannabis+%22mode+of+delivery%22+smoking+vap*&amp;btnG=" class="uri">https://scholar.google.nl/scholar?hl=nl&amp;as_sdt=0%2C5&amp;as_vis=1&amp;q=cannabis+%22mode+of+delivery%22+smoking+vap*&amp;btnG=</a></p>
<p><a href="http://www.letfreedomgrow.com/articles/vaporization_study.pdf" class="uri">http://www.letfreedomgrow.com/articles/vaporization_study.pdf</a></p>
<p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0306460317300849" class="uri">https://www.sciencedirect.com/science/article/abs/pii/S0306460317300849</a></p>
<p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4987070/" class="uri">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4987070/</a></p>
