---
title: Acute risico's van XTC-gebruik
author: Gjalt-Jorn Peters
date: '2019-01-29'
slug: acute-risicos-van-xtc-gebruik
categories: []
tags: []
draft: false
output:
#  html_document
  blogdown::html_page
language: nl
editor_options: 
  chunk_output_type: console
---

<script src="/rmarkdown-libs/kePrint/kePrint.js"></script>
<link href="/rmarkdown-libs/lightable/lightable.css" rel="stylesheet" />


<blockquote>
<p>Note: This is a draft; it is messy and not ready for the ‘general public’ yet!</p>
</blockquote>
<div id="incidenten-en-sterfgevallen-in-nederland" class="section level1">
<h1>Incidenten en sterfgevallen in Nederland</h1>
<p>In deze berekeningen wordt gerekend met het aantal inwoners in Nederland dat op 1 januari 2016 een leeftijd van 18 jaar of ouder had, omdat dat de groep is waarvoor CBS prevalenties beschikbaar heeft. Dit zijn 13562539 mensen ([Bevolking; geslacht, leeftijd en burgerlijke staat, 1 januari, CBS] (<a href="https://opendata.cbs.nl/statline/#/CBS/nl/dataset/7461bev/table?dl=6596&amp;ts=1548663473942" class="uri">https://opendata.cbs.nl/statline/#/CBS/nl/dataset/7461bev/table?dl=6596&amp;ts=1548663473942</a>)). Verder word de <a href="https://www.trimbos.nl/producten-en-diensten/webwinkel/product/af1568-jaarbericht-nationale-drug-monitor-2017">Nationale Drugs Monitor 2017</a> gebruikt.</p>
<div id="wat-weten-we-over-gebruikspatronen" class="section level2">
<h2>Wat weten we over gebruikspatronen?</h2>
<p>Een discussie over incidenten en sterfgevallen is niet zinvol zonder inkadering in de context. In 2016 zijn bijvoorbeeld 5600 mensen opgenomen met een alcoholvergiftiging; nog eens 16300 mensen zijn op een spoed-eisende hulp (SEH) behandeld aan een letsel dat zijzelf veroorzaakten door een incident of geweld door alcohol; en in 2014 overleden 882 mensen met alcoholgebruik als primaire doodsoorzaak. Alcohol wordt echter ook door ongeveer 80% van de bevoking gebruikt: relatief is de kans dus relatief laag ondanks deze hoog lijkende absolute frequenties. Belangrijker is dat de kans op alcoholvergiftging, net als de kans op vergiftiging met andere stoffen, sterk afhankelijk is van de dosis. Als iemand elke maand een keer vijf glazen alcohol drinkt is dat minder gezond dan helemaal niet drinken, maar de kans op een incident is verwaarloosbaar in vergelijking met iemand die elke week twee keer 15 glazen alcohol drinkt. De context is dus cruciaal.</p>
<div id="hoeveel-mensen-gebruiken-xtc" class="section level3">
<h3>Hoeveel mensen gebruiken XTC?</h3>
<p>Hier is ook informatie over bij XTC-gebruik. Het CBS rapporteert dat 2.9% van de Nederlanders van 18 jaar of ouder in 2016 aangaf het laatste jaar XTC te hebben gebruikt (<a href="https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83021NED/table?dl=13DDD">Leefstijl en (preventief) gezondheidsonderzoek, CBS</a>). Gegeven de gebruikspatronen bij XTC (zie onder) kan deze groep als XTC-gebruiker worden aangemerkt. Gegeven dat er in 2016 in Nederland 13562539 mensen woonden, zijn dit 393313.631 gebruikers (.029 * 13562539).</p>
<p>Er zijn nog twee andere belangrijke stukjes informatie die nodig zijn om zinnig over incidenten en sterfgevallen te kunnen nadenken, en deze betreffen de gebruikspatronen: hoe vaak gebruiken mensen (frequentie) en hoe veel gebruiken mensen (intensiteit)? Frequentie is belangrijk omdat er per gebruiksgelegenheid een gegeven kans is op een incident of overlijden, dus als frequentie stijgt, stijgt ook de kans op incidenten of sterfgevallen. Intensiteit is belangrijk omdat de kans op een incident of overlijden bij XTC, net als bij andere drugs zoals alcohol, dosis-afhankelijk is: bij een verwaarloosbare dosis is de kans 0, bij een duidelijke overdosis is de kans 1, en daar tussenin loopt die kans op (e.g. als een sigmoïde).<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a></p>
<p>Er zijn drie belangrijke bronnen van informatie over gebruikspatronen: de Global Drug Survey (GDS), het Grote Uitgaans Onderzoek (GUO), en Party Panel. De patronen die worden gevonden zijn steeds vergelijkbaar (zie ook <a href="https://sciencer.eu/2018/08/nederland-gebruikt-veel-minder-xtc-pillen-dan-geschat/">deze post</a>).</p>
<p>Een probleem van de de steekproeven van GDS en GUO is dat deze studies over middelengebruik gaan, en daarom geen representatieve steekproef werven: er vindt zelfselectie plaats, en het is aannemelijk dat die plaatsvindt op basis van bovengemiddelde affiniteit met het onderwerp. Kortom: de gerapporteerde gebruiksfrequenties zijn waarschijnlijk overschattingen. De laatste Party Panel ronde heeft hier minder last van, omdat deze ronde, en de twee voorgaande rondes, niet over middelen gingen. Hier worden dan ook iets lagere frequenties gevonden. Dit is echter een relatief kleine steekproef, dus ik reken hier verder met de lijn uit de andere steekproeven. Dit betekent wel dat we uitkomen op <em>overschattingen</em> van de gebruikspatronen: mensen gebruiken waarschijnlijk minder frequent (en intens) dan hier wordt berekend.</p>
</div>
<div id="hoe-vaak-gebruiken-mensen-xtc" class="section level3">
<h3>Hoe vaak gebruiken mensen XTC?</h3>
<p>Frequentie van gebruik is in Party Panel in 2015, 2016, en 2018 gemeten. We kunnen deze frequenties indelen in categorieën. Ik gebruik hier vier categorieën. De eerste bestaat uit de sporadische gebruikers, die maximaal 2 keer per jaar gebruiken. De tweede bestaat uit weiniggebruikers, die zich houden aan de meest conservatieve interpretatie van de richtlijn om niet vaker te gebruiken dan elke 4-6 weken. Dit zijn dus de mensen die 3 tot 8 keer per jaar gebruiken. De derde bestaat uit gemodereerde gebruikers, die diezelfde richtlijn juist zo liberaal mogelijk interpreteren en dus 9 tot 12 keer per jaar gebruiken. Tot slot onderscheid ik de vaakgebruikers, die vaker dan elke maand gebruiken (dus 13 keer per jaar of vaker).</p>
<p>Ingedeeld in deze categorieën laat elke Party Panel ronde de volgende frequenties zien:</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Sporadische gebruikers
</th>
<th style="text-align:right;">
Weiniggebruikers
</th>
<th style="text-align:right;">
Gemodereerde gebruikers
</th>
<th style="text-align:right;">
Vaakgebruikers
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
15
</td>
<td style="text-align:right;">
114
</td>
<td style="text-align:right;">
262
</td>
<td style="text-align:right;">
113
</td>
<td style="text-align:right;">
84
</td>
</tr>
<tr>
<td style="text-align:left;">
16
</td>
<td style="text-align:right;">
153
</td>
<td style="text-align:right;">
276
</td>
<td style="text-align:right;">
119
</td>
<td style="text-align:right;">
103
</td>
</tr>
<tr>
<td style="text-align:left;">
18
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
58
</td>
<td style="text-align:right;">
19
</td>
<td style="text-align:right;">
22
</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Sporadische gebruikers
</th>
<th style="text-align:right;">
Weiniggebruikers
</th>
<th style="text-align:right;">
Gemodereerde gebruikers
</th>
<th style="text-align:right;">
Vaakgebruikers
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
15
</td>
<td style="text-align:right;">
20
</td>
<td style="text-align:right;">
46
</td>
<td style="text-align:right;">
20
</td>
<td style="text-align:right;">
15
</td>
</tr>
<tr>
<td style="text-align:left;">
16
</td>
<td style="text-align:right;">
24
</td>
<td style="text-align:right;">
42
</td>
<td style="text-align:right;">
18
</td>
<td style="text-align:right;">
16
</td>
</tr>
<tr>
<td style="text-align:left;">
18
</td>
<td style="text-align:right;">
28
</td>
<td style="text-align:right;">
42
</td>
<td style="text-align:right;">
14
</td>
<td style="text-align:right;">
16
</td>
</tr>
</tbody>
</table>
<pre><code>Registered S3 method overwritten by &#39;GGally&#39;:
  method from   
  +.gg   ggplot2</code></pre>
<pre><code>Registered S3 methods overwritten by &#39;lme4&#39;:
  method                          from
  cooks.distance.influence.merMod car 
  influence.merMod                car 
  dfbeta.influence.merMod         car 
  dfbetas.influence.merMod        car </code></pre>
<pre><code>   Sporadische gebruikers Weiniggebruikers Gemodereerde gebruikers
15                    114              262                     113
16                    153              276                     119
18                     38               58                      19
   Vaakgebruikers
15             84
16            103
18             22</code></pre>
<pre><code>Registered S3 methods overwritten by &#39;ufs&#39;:
  method                     from               
  grid.draw.ggProportionPlot userfriendlyscience
  pander.associationMatrix   userfriendlyscience
  pander.dataShape           userfriendlyscience
  pander.descr               userfriendlyscience
  pander.normalityAssessment userfriendlyscience
  print.CramersV             userfriendlyscience
  print.associationMatrix    userfriendlyscience
  print.confIntOmegaSq       userfriendlyscience
  print.confIntV             userfriendlyscience
  print.dataShape            userfriendlyscience
  print.descr                userfriendlyscience
  print.ggProportionPlot     userfriendlyscience
  print.meanConfInt          userfriendlyscience
  print.multiVarFreq         userfriendlyscience
  print.normalityAssessment  userfriendlyscience
  print.regrInfluential      userfriendlyscience
  print.scaleDiagnosis       userfriendlyscience
  print.scaleStructure       userfriendlyscience
  print.scatterMatrix        userfriendlyscience</code></pre>
<pre><code>Cramér&#39;s V 95% confidence interval (point estimate = .05):  
Using Fisher&#39;s z: [0; .1]

Chi-square[6] = 6.93, p = .327</code></pre>
<p>Omdat deze verdelingen praktisch hetzelfde zijn, kunnen we ze combineren om tot een iets betere schatting te komen:</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
Var1
</th>
<th style="text-align:right;">
Freq
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
305
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
596
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
251
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
209
</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th style="text-align:left;">
Var1
</th>
<th style="text-align:right;">
Freq
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
22
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
44
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
18
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
15
</td>
</tr>
</tbody>
</table>
<!-- HIERONDER STAAT HET OUDE STUKJE - TE VEEL OVERBODIGE INFORMATIE,
     ESSENTIE WORDT NIET DUIDELIJK. NU GELIJK NAAR DE 3 CATEGORIEEN,
     DUS SLA NU DE GUO CATEGORIEEN OVER -->
<!-- Frequentie van gebruik is in Party Panel in 2015, 2016, en 2018 gemeten. Hier rapporteerden de XTC-gebruikers deze gebruiksfrequenties in het afgelopen halfjaar (omgerekend naar de GUO categoriee&uml;n)-->
<p>.</p>
<div id="party-panel-15.1-2015" class="section level4">
<h4>Party Panel 15.1 (2015):</h4>
<table class="table" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Frequencies
</th>
<th style="text-align:right;">
Perc.Total
</th>
<th style="text-align:right;">
Perc.Valid
</th>
<th style="text-align:right;">
Cumulative
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
114
</td>
<td style="text-align:right;">
19.9
</td>
<td style="text-align:right;">
19.9
</td>
<td style="text-align:right;">
19.9
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
262
</td>
<td style="text-align:right;">
45.7
</td>
<td style="text-align:right;">
45.7
</td>
<td style="text-align:right;">
65.6
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
113
</td>
<td style="text-align:right;">
19.7
</td>
<td style="text-align:right;">
19.7
</td>
<td style="text-align:right;">
85.3
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
84
</td>
<td style="text-align:right;">
14.7
</td>
<td style="text-align:right;">
14.7
</td>
<td style="text-align:right;">
100.0
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
573
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
</tr>
</tbody>
</table>
</div>
<div id="party-panel-16.1-2016" class="section level4">
<h4>Party Panel 16.1 (2016):</h4>
<table class="table" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Frequencies
</th>
<th style="text-align:right;">
Perc.Total
</th>
<th style="text-align:right;">
Perc.Valid
</th>
<th style="text-align:right;">
Cumulative
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
153
</td>
<td style="text-align:right;">
23.5
</td>
<td style="text-align:right;">
23.5
</td>
<td style="text-align:right;">
23.5
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
276
</td>
<td style="text-align:right;">
42.4
</td>
<td style="text-align:right;">
42.4
</td>
<td style="text-align:right;">
65.9
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
119
</td>
<td style="text-align:right;">
18.3
</td>
<td style="text-align:right;">
18.3
</td>
<td style="text-align:right;">
84.2
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
103
</td>
<td style="text-align:right;">
15.8
</td>
<td style="text-align:right;">
15.8
</td>
<td style="text-align:right;">
100.0
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
651
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
</tr>
</tbody>
</table>
</div>
<div id="party-panel-18.1-2018" class="section level4">
<h4>Party Panel 18.1 (2018):</h4>
<table class="table" style="margin-left: auto; margin-right: auto;">
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Frequencies
</th>
<th style="text-align:right;">
Perc.Total
</th>
<th style="text-align:right;">
Perc.Valid
</th>
<th style="text-align:right;">
Cumulative
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
38
</td>
<td style="text-align:right;">
27.7
</td>
<td style="text-align:right;">
27.7
</td>
<td style="text-align:right;">
27.7
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
58
</td>
<td style="text-align:right;">
42.3
</td>
<td style="text-align:right;">
42.3
</td>
<td style="text-align:right;">
70.1
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
19
</td>
<td style="text-align:right;">
13.9
</td>
<td style="text-align:right;">
13.9
</td>
<td style="text-align:right;">
83.9
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
22
</td>
<td style="text-align:right;">
16.1
</td>
<td style="text-align:right;">
16.1
</td>
<td style="text-align:right;">
100.0
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
137
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
</tr>
</tbody>
</table>
<!-- Zoals gezegd liggen deze schattingen relatief dicht bij elkaar. Geaggregeerd ontstaan deze frequentieschattingen: -->
<!-- Om verder te kunnen rekenen hebben we echter getallen nodig: hoe vaak gebruiken die categorieen gemiddeld? In Party Panel zijn gebruiksfrequenties gelukkig als precies uitgevraagd - deze zijn later ingedeeld in de GUO categorie&euml;n. De exacte frequenties in het laatste halfjaar en bijbehorende percentages zijn in de tabel hieronder zichtbaar. -->
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Frequencies
</th>
<th style="text-align:right;">
Perc.Total
</th>
<th style="text-align:right;">
Perc.Valid
</th>
<th style="text-align:right;">
Cumulative
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
1
</td>
<td style="text-align:right;">
305
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
22.4
</td>
</tr>
<tr>
<td style="text-align:left;">
2
</td>
<td style="text-align:right;">
294
</td>
<td style="text-align:right;">
21.6
</td>
<td style="text-align:right;">
21.6
</td>
<td style="text-align:right;">
44.0
</td>
</tr>
<tr>
<td style="text-align:left;">
3
</td>
<td style="text-align:right;">
196
</td>
<td style="text-align:right;">
14.4
</td>
<td style="text-align:right;">
14.4
</td>
<td style="text-align:right;">
58.4
</td>
</tr>
<tr>
<td style="text-align:left;">
4
</td>
<td style="text-align:right;">
106
</td>
<td style="text-align:right;">
7.8
</td>
<td style="text-align:right;">
7.8
</td>
<td style="text-align:right;">
66.2
</td>
</tr>
<tr>
<td style="text-align:left;">
5
</td>
<td style="text-align:right;">
53
</td>
<td style="text-align:right;">
3.9
</td>
<td style="text-align:right;">
3.9
</td>
<td style="text-align:right;">
70.1
</td>
</tr>
<tr>
<td style="text-align:left;">
6
</td>
<td style="text-align:right;">
198
</td>
<td style="text-align:right;">
14.5
</td>
<td style="text-align:right;">
14.5
</td>
<td style="text-align:right;">
84.6
</td>
</tr>
<tr>
<td style="text-align:left;">
7
</td>
<td style="text-align:right;">
17
</td>
<td style="text-align:right;">
1.2
</td>
<td style="text-align:right;">
1.2
</td>
<td style="text-align:right;">
85.9
</td>
</tr>
<tr>
<td style="text-align:left;">
8
</td>
<td style="text-align:right;">
21
</td>
<td style="text-align:right;">
1.5
</td>
<td style="text-align:right;">
1.5
</td>
<td style="text-align:right;">
87.4
</td>
</tr>
<tr>
<td style="text-align:left;">
9
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.1
</td>
</tr>
<tr>
<td style="text-align:left;">
10
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.8
</td>
</tr>
<tr>
<td style="text-align:left;">
11
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
88.8
</td>
</tr>
<tr>
<td style="text-align:left;">
12
</td>
<td style="text-align:right;">
87
</td>
<td style="text-align:right;">
6.4
</td>
<td style="text-align:right;">
6.4
</td>
<td style="text-align:right;">
95.2
</td>
</tr>
<tr>
<td style="text-align:left;">
14
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
95.4
</td>
</tr>
<tr>
<td style="text-align:left;">
15
</td>
<td style="text-align:right;">
8
</td>
<td style="text-align:right;">
0.6
</td>
<td style="text-align:right;">
0.6
</td>
<td style="text-align:right;">
96.0
</td>
</tr>
<tr>
<td style="text-align:left;">
16
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.0
</td>
</tr>
<tr>
<td style="text-align:left;">
17
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.1
</td>
</tr>
<tr>
<td style="text-align:left;">
18
</td>
<td style="text-align:right;">
26
</td>
<td style="text-align:right;">
1.9
</td>
<td style="text-align:right;">
1.9
</td>
<td style="text-align:right;">
98.0
</td>
</tr>
<tr>
<td style="text-align:left;">
20
</td>
<td style="text-align:right;">
5
</td>
<td style="text-align:right;">
0.4
</td>
<td style="text-align:right;">
0.4
</td>
<td style="text-align:right;">
98.4
</td>
</tr>
<tr>
<td style="text-align:left;">
24
</td>
<td style="text-align:right;">
4
</td>
<td style="text-align:right;">
0.3
</td>
<td style="text-align:right;">
0.3
</td>
<td style="text-align:right;">
98.7
</td>
</tr>
<tr>
<td style="text-align:left;">
25
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
98.8
</td>
</tr>
<tr>
<td style="text-align:left;">
26
</td>
<td style="text-align:right;">
11
</td>
<td style="text-align:right;">
0.8
</td>
<td style="text-align:right;">
0.8
</td>
<td style="text-align:right;">
99.6
</td>
</tr>
<tr>
<td style="text-align:left;">
30
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.6
</td>
</tr>
<tr>
<td style="text-align:left;">
36
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.7
</td>
</tr>
<tr>
<td style="text-align:left;">
52
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
</tr>
<tr>
<td style="text-align:left;">
60
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
</tr>
<tr>
<td style="text-align:left;">
78
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
100.0
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
1361
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
</tr>
</tbody>
</table>
<!-- De gemiddelde frequentie per jaar was 9.3 gebruiksgelegenheden per jaar voor 2015, 9.5 voor 2016, en 8.7 voor 2018. Zoals eerder aangegeven is het plausibel dat dit overschattingen zijn. In de Global Drug Survey lag het gemiddelde op ongeveer 8 keer per jaar. Het lijkt dus redelijk om verder te rekenen met deze Party Panel frequenties, die we dan eerst samen kunnen nemen voor een schatting van 9.3 keer per jaar. -->
<!-- In Figuur \@ref(fig:use-freq-histogram) is een histogram te zien dat laat zien hoeveel mensen met welke frequentie gebruiken is weer te zien hoe scheef deze verdeling is. -->
<!-- Het blijkt dat de meeste mensen lang geen acht keer per jaar XTC gebruiken: 22.4% gebruikt een keer per jaar, 44% maximaal twee keer per jaar, en tweederde, 58.4%, maximaal vier keer per jaar. De hoge gemiddelde gebruiksfrequentie van acht keer is dus niet representatief voor de modale XTC-gebruiker: het is logischer om frequentieklassen samen te stellen. Ik genereer zeven frequentieklassen: -->
<!-- Er is duidelijk te zien dat 87.4% van de gebruikers minder frequent lijkt te gebruiken dan het gemiddelde; dit gemiddelde wordt omhoog getrokken door een kleine groep die relatief heel vaak gebruikt (of overrapporteert). -->
<!-- In totaal hebben de 393313.631 in 2016 dus 9.3 maal 393313.631 keer XTC gebruikt, oftewel 3661487 keer. Dit totale aantal gebruiksgelegenheden is straks nodig om te berekenen hoe groot de kans op een incident is. -->
<!-- We kunnen nu ook uitrekenen hoe vaak de gebruikers per GUO categorie gemiddeld XTC gebruiken per jaar. Voor mensen die sporadische gebruikers XTC gebruiken, is dat gemiddelde 2 keer per jaar; voor mensen die weiniggebruikers XTC gebruiken, is dat gemiddelde 5.4 keer per jaar; voor mensen die gemodereerde gebruikers XTC gebruiken, is dat gemiddelde 11.6 keer per jaar; voor mensen die vaakgebruikers XTC gebruiken, is dat gemiddelde 28.5 keer per jaar. -->
<!-- Als we dit nu combineren met de prevalentieschatting en de patronen in gebruiksfrequenties, kunnen we inschatten hoe veel mensen nu gemiddeld hoe vaak XTC gebruiken. De percentages in elke categorie waren 22.4% die sporadische gebruikers gebruikten; 43.8% die weiniggebruikers gebruikten; 18.4% die gemodereerde gebruikers gebruikten; 15.4% die vaakgebruikers gebruikten; 100% die sporadische gebruikers gebruikten; NA% die weiniggebruikers gebruikten. Omgezet in frequenties gebruikt 22.4% gemiddeld 2 keer per jaar; 43.8% gemiddeld 5.4 keer per jaar; 18.4% gemiddeld 11.6 keer per jaar; 15.4% gemiddeld 28.5 keer per jaar; 100% gemiddeld 2 keer per jaar; NA% gemiddeld 5.4 keer per jaar. -->
</div>
</div>
<div id="hoeveel-xtc-gebruiken-mensen" class="section level3">
<h3>Hoeveel XTC gebruiken mensen?</h3>
<p>Niet alleen gebruiksfrequentie is belangrijk voor het risico op incidenten en overlijden, gebruiksintensiteit is dat ook. Het is daarom ook belangrijk om te weten hoeveel XTC mensen gebruiken. Hierbij is de norm om in een gebruiksgelegenheid maximaal 1 - 1.5 milligram MDMA per kilo lichaamsgewicht te gebruiken om de risico’s te minimaliseren en de positieve effecten te optimaliseren.</p>
<pre><code>
 Sporadische gebruikers        Weiniggebruikers Gemodereerde gebruikers 
               0.224100                0.437913                0.184423 
         Vaakgebruikers 
               0.153564 </code></pre>
<pre><code>freqsLong$cat: Sporadische gebruikers
[1] 2
------------------------------------------------------------ 
freqsLong$cat: Weiniggebruikers
[1] 5.36913
------------------------------------------------------------ 
freqsLong$cat: Gemodereerde gebruikers
[1] 11.5777
------------------------------------------------------------ 
freqsLong$cat: Vaakgebruikers
[1] 28.488</code></pre>
<pre><code>   
      0   1   2   3   4   5   6   7   8   9  10  11  12  14  15  18  20  25  26
  0 111   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
  1  58 114 124  96  42  21  91   7   7   3   5   1  36   1   3  11   3   1   3
   
     30  52  60
  0   0   0   0
  1   1   1   1</code></pre>
<pre><code>
  0   1 
 58 114 </code></pre>
<pre><code>[1] 1.66279</code></pre>
<pre><code>
 &lt;= 120mg 120-170mg  &gt;= 170mg 
      118        66       104 </code></pre>
<pre><code>
 &lt;= 120mg 120-170mg  &gt;= 170mg 
 0.409722  0.229167  0.361111 </code></pre>
<table>
<caption>
<span id="tab:use-intensity">Table 1: </span>Incidenten per gebruikersgroep
</caption>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
&lt;= 120mg
</th>
<th style="text-align:right;">
120-170mg
</th>
<th style="text-align:right;">
&gt;= 170mg
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
15.0582
</td>
<td style="text-align:right;">
30.1165
</td>
<td style="text-align:right;">
60.233
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
40.4248
</td>
<td style="text-align:right;">
80.8496
</td>
<td style="text-align:right;">
161.699
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
87.1698
</td>
<td style="text-align:right;">
174.3397
</td>
<td style="text-align:right;">
348.679
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
214.4899
</td>
<td style="text-align:right;">
428.9799
</td>
<td style="text-align:right;">
857.960
</td>
</tr>
</tbody>
</table>
<table>
<caption>
<span id="tab:use-intensity">Table 1: </span>Incidenten per 10.000 gebruikers in elke gebruikersgroep
</caption>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
&lt;= 120mg
</th>
<th style="text-align:right;">
120-170mg
</th>
<th style="text-align:right;">
&gt;= 170mg
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
4
</td>
<td style="text-align:right;">
12
</td>
<td style="text-align:right;">
36
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
6
</td>
<td style="text-align:right;">
22
</td>
<td style="text-align:right;">
21
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
52
</td>
<td style="text-align:right;">
142
</td>
<td style="text-align:right;">
91
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
200
</td>
<td style="text-align:right;">
931
</td>
<td style="text-align:right;">
559
</td>
</tr>
</tbody>
</table>
<pre><code>   Intensiteit Frequentie      Freq xMargins yMargins
1     &lt;= 120mg Sporadisch 0.1120321 0.381742 0.228216
2    120-170mg Sporadisch 0.0705403 0.215767 0.228216
3     &gt;= 170mg Sporadisch 0.0456431 0.402491 0.228216
4     &lt;= 120mg     Weinig 0.1950211 0.381742 0.506223
5    120-170mg     Weinig 0.0995835 0.215767 0.506223
6     &gt;= 170mg     Weinig 0.2116183 0.402491 0.506223
7     &lt;= 120mg       Gem. 0.0456431 0.381742 0.182572
8    120-170mg       Gem. 0.0331945 0.215767 0.182572
9     &gt;= 170mg       Gem. 0.1037349 0.402491 0.182572
10    &lt;= 120mg       Vaak 0.0290459 0.381742 0.082989
11   120-170mg       Vaak 0.0124486 0.215767 0.082989
12    &gt;= 170mg       Vaak 0.0414945 0.402491 0.082989</code></pre>
<pre><code>Warning: Ignoring unknown aesthetics: width</code></pre>
<p><img src="/post/2019-01-29-acute-risicos-van-xtc-gebruik.nl_files/figure-html/use-intensity-1.png" width="672" /></p>
<p>De voorkeursdosis (gebruiksintensiteit) voor de deelnemers aan Party Panel 15.1 is te zien in Figuur <a href="#fig:scatterplot-frequency-intensity">1</a>. Hier is duidelijk zichtbaar dat deze voorkeursdosis, net als voorkeursfrequentie, rechtsscheef is: de veel gebruikers zitten onder de 100 milligram, en er zijn maar relatief weinig die boven de 150 milligram uitkomen.</p>
<p>In Figuur <a href="#fig:scatterplot-frequency-intensity">1</a> is de gerapporteerde gewenste dosis afgezet tegen de gerapporteerde frequentie van gebruik voor de deelnemers die beiden rapporteerden in Party Panel 15.1.</p>
<pre><code>`geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<div class="figure"><span id="fig:scatterplot-frequency-intensity"></span>
<img src="/post/2019-01-29-acute-risicos-van-xtc-gebruik.nl_files/figure-html/scatterplot-frequency-intensity-1.png" alt="Relatie tussen gebruiksfrequentie en voorkeursdosis" width="864" />
<p class="caption">
Figure 1: Relatie tussen gebruiksfrequentie en voorkeursdosis
</p>
</div>
<p>Zoals gezegd is gewicht ook belangrijk, en een deel van de deelnemers aan Party panel heeft ook hun gewicht gerapporteerd. Op basis daarvan zijn in Figuur <a href="#fig:freq-dose-weight">2</a> de deelnemers ingekleurd op basis van hun gewicht.</p>
<pre><code>`geom_smooth()` using formula &#39;y ~ x&#39;</code></pre>
<div class="figure"><span id="fig:freq-dose-weight"></span>
<img src="/post/2019-01-29-acute-risicos-van-xtc-gebruik.nl_files/figure-html/freq-dose-weight-1.png" alt="Relatie tussen gebruiksfrequentie en voorkeursdosis, met inkleuring op basis van gewicht" width="864" />
<p class="caption">
Figure 2: Relatie tussen gebruiksfrequentie en voorkeursdosis, met inkleuring op basis van gewicht
</p>
</div>
<p>Het aanbevolen verband tussen intensiteit en gewicht lijkt niet overduidelijk aanwezig (dan zouden de lager gelegen stippen vooral paars zijn; de middengelegen stippen blauwgroen; en de hoogstgelegen stippen geel).</p>
<p>Op basis van deze gegevens kunnen we berekenen hoeveel mensen in verschillende doses doseren. In de Nationale Drug Monitor staat een fout waar Brunt, Koeter, Niesink &amp; van den Brink (2012) worden aangehaald:</p>
<blockquote>
<p>Bij ecstasytabletten met meer dan 100 mg MDMA beginnen zelf-gerapporteerde ongewenste bijwerkingen de gewenste subjectieve effecten te overheersen (Brunt et al., 2012). Boven 180 mg hebben de bijwerkingen vaak geheel de overhand.</p>
</blockquote>
<p>Dit is echter niet wat Brunt et al. rapporteren; dit is duidelijk zichtbaar in hun Figuur 2, hier gereproduceerd in Figuur <a href="#fig:fig-from-brunt-et-al">3</a>:</p>
<div class="figure"><span id="fig:fig-from-brunt-et-al"></span>
<img src="/post/2019-01-29-acute-risicos-van-xtc-gebruik.nl_files/figure-html/fig-from-brunt-et-al-1.png" alt="Reproductie van Figuur 2 uit Brunt et al." width="864" />
<p class="caption">
Figure 3: Reproductie van Figuur 2 uit Brunt et al.
</p>
</div>
<p>De positieve effecten zijn <em>maximaal</em> bij ongeveer 90 milligram, maar blijven nog tot ongeveer 170 milligram de negatieve effecten overheersen. De negatieve effecten beginnen pas bij 120 milligram te stijgen; tot die dosis verschillen de negatieve effecten niet significant van het niveau bij een dosis van 0 milligram.</p>
<p>De negatieve effecten stijgen langzaam tot ongeveer 160 milligram, waarna hun toename versnelt. De dosis waar de kansen op negatieve effecten en op positieve effecten elkaar kruisen, ongeveer 170 milligram MDMA, is bovendien ongeveer waar 50% kans is op zowel positieve effecten als negatieve effecten.</p>
<p>Twee redelijke categorisaties van dosering lijken dus 120 milligram (als de negatieve effecten starten) en 170 milligram (als de kans op negatieve effecten ongeveer 50% is, en de kans op positieve effecten begint te overstijgen). 120 milligram is de bovengrens van de geadviseerde dosering voor mensen van 80 kilo (of zwaarder). 170 milligram is de bovengrens van de geadviseerde doserng voor mensen van 115 kilo (of zwaarder). Dit lijken dus relatief conservatieve grenswaarden; het is plausibel dat deze voor de meeste mensen het risico op incidenten nog niet aanzienlijk verhogen.</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Frequencies
</th>
<th style="text-align:right;">
Perc.Total
</th>
<th style="text-align:right;">
Perc.Valid
</th>
<th style="text-align:right;">
Cumulative
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
&lt;= 120mg
</td>
<td style="text-align:right;">
118
</td>
<td style="text-align:right;">
15.9
</td>
<td style="text-align:right;">
41.0
</td>
<td style="text-align:right;">
41.0
</td>
</tr>
<tr>
<td style="text-align:left;">
120-170mg
</td>
<td style="text-align:right;">
66
</td>
<td style="text-align:right;">
8.9
</td>
<td style="text-align:right;">
22.9
</td>
<td style="text-align:right;">
63.9
</td>
</tr>
<tr>
<td style="text-align:left;">
&gt;= 170mg
</td>
<td style="text-align:right;">
104
</td>
<td style="text-align:right;">
14.0
</td>
<td style="text-align:right;">
36.1
</td>
<td style="text-align:right;">
100.0
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
288
</td>
<td style="text-align:right;">
38.7
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
</tr>
<tr>
<td style="text-align:left;">
NA (missing)
</td>
<td style="text-align:right;">
456
</td>
<td style="text-align:right;">
61.3
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
</tr>
<tr>
<td style="text-align:left;">
Total
</td>
<td style="text-align:right;">
744
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
</tr>
</tbody>
</table>
<p>41 procent van de deelnemers aan Party Panel 15.1 gaf aan het liefst een dosis van maximaal 120 milligram MDMA te gebruiken, 22.9 procent gebruikte het liefst een dosis tussen de 120 en 170 milligram, en 36.1 procent gebruikte het liefst een dosis waarbij volgens de resultaten van Brunt et al. de kans op negatieve effecten groter is dan de kans op positieve effecten (hoger dan 170 milligram). Omdat een aantal deelnemers ook hun gewicht had gerapporteerd, kunnen we het gemiddelde gewicht in deze drie categorieën bekijken: dit is respectievelijk 70.3kg, 74.8kg, en 77.6kg - een lichte toename, maar gemiddeld genomen lijkt de 36.1 procent Party Panel 15.1 deelnemers die meer dan 170 mg gebruikt fors meer te gebruiken dan de richtlijn van 1-1.5mg MDMA per kg lichaamsgewicht.</p>
</div>
<div id="gebruikspatronen-samenvatting" class="section level3">
<h3>Gebruikspatronen: samenvatting</h3>
<p>De meeste mensen gebruiken enkele keren per jaar XTC:</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
Var1
</th>
<th style="text-align:right;">
Freq
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
305
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
596
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
251
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
209
</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th style="text-align:left;">
Var1
</th>
<th style="text-align:right;">
Freq
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
22
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
44
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
18
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
15
</td>
</tr>
</tbody>
</table>
<p>En de meeste mensen gebruiken een dosis waarbij de positieve effecten de negatieve effecten overheersen:</p>
<p>Gegeven deze onevenredige verdeling van gebruiksfrequentie en dosering is de kans op een incident of sterfgeval voor de modale gebruiker dus een fractie van de kans voor vaakgebruikers, de 4.8% die elke maand of vaker gebruikt, of veelgebruikers, de 36.1% die 170 milligram MDMA of meer gebruikt per gebruiksgelegenheid. Deze inzichten maken het straks mogelijk om de kans op incidenten te berekenen per jaar per XTC-gebruiker.</p>
</div>
</div>
<div id="rapportage-over-incidenten" class="section level2">
<h2>Rapportage over incidenten</h2>
<p>Zoals in de Nationale Drug Monitor 2017 wordt gerapporteerd (p. 181) werden er in 2016 in totaal 5 654 incidenten gemeld, waarvan in 1275 gevallen alleen XTC werd gerapporteerd (waarvan in een onbekend aantal gevallen in combinatie met alcohol; overigens betrof dit zelfrapportage).</p>
<p>Per gebruiksgelegenheid is de kans op een incident dus 1275 gedeeld door 3146509.048, oftewel 0.000405, oftewel 0.041 procent (grofweg 1 op 2500).</p>
<p>Dit kunnen we in context plaatsen door deze gebruiksgelegenheden te vergelijken met de frequentieklassen. Om dit zorgvuldig te doen gaan we eerst terug naar de ruwe gerapporteerde gebruiksfrequenties, die we vermenigvuldigen met de kans op een incident per gebruiksgelegenheid. Dat geeft ons de kans op een incident per gebruiker per jaar, apart voor gebruikers met verschillende gebruiksfrequenties:</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Aantal mensen
</th>
<th style="text-align:right;">
Percentage
</th>
<th style="text-align:right;">
Cumulatief
</th>
<th style="text-align:right;">
Ruwe kans op een incident
</th>
<th style="text-align:right;">
Reciproke van ruwe kans op een incident
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
1
</td>
<td style="text-align:right;">
305
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
0.000405
</td>
<td style="text-align:right;">
2468
</td>
</tr>
<tr>
<td style="text-align:left;">
2
</td>
<td style="text-align:right;">
294
</td>
<td style="text-align:right;">
21.6
</td>
<td style="text-align:right;">
44.0
</td>
<td style="text-align:right;">
0.000810
</td>
<td style="text-align:right;">
1234
</td>
</tr>
<tr>
<td style="text-align:left;">
3
</td>
<td style="text-align:right;">
196
</td>
<td style="text-align:right;">
14.4
</td>
<td style="text-align:right;">
58.4
</td>
<td style="text-align:right;">
0.001216
</td>
<td style="text-align:right;">
823
</td>
</tr>
<tr>
<td style="text-align:left;">
4
</td>
<td style="text-align:right;">
106
</td>
<td style="text-align:right;">
7.8
</td>
<td style="text-align:right;">
66.2
</td>
<td style="text-align:right;">
0.001621
</td>
<td style="text-align:right;">
617
</td>
</tr>
<tr>
<td style="text-align:left;">
5
</td>
<td style="text-align:right;">
53
</td>
<td style="text-align:right;">
3.9
</td>
<td style="text-align:right;">
70.1
</td>
<td style="text-align:right;">
0.002026
</td>
<td style="text-align:right;">
494
</td>
</tr>
<tr>
<td style="text-align:left;">
6
</td>
<td style="text-align:right;">
198
</td>
<td style="text-align:right;">
14.5
</td>
<td style="text-align:right;">
84.6
</td>
<td style="text-align:right;">
0.002431
</td>
<td style="text-align:right;">
411
</td>
</tr>
<tr>
<td style="text-align:left;">
7
</td>
<td style="text-align:right;">
17
</td>
<td style="text-align:right;">
1.2
</td>
<td style="text-align:right;">
85.9
</td>
<td style="text-align:right;">
0.002836
</td>
<td style="text-align:right;">
353
</td>
</tr>
<tr>
<td style="text-align:left;">
8
</td>
<td style="text-align:right;">
21
</td>
<td style="text-align:right;">
1.5
</td>
<td style="text-align:right;">
87.4
</td>
<td style="text-align:right;">
0.003242
</td>
<td style="text-align:right;">
308
</td>
</tr>
<tr>
<td style="text-align:left;">
9
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.1
</td>
<td style="text-align:right;">
0.003647
</td>
<td style="text-align:right;">
274
</td>
</tr>
<tr>
<td style="text-align:left;">
10
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.8
</td>
<td style="text-align:right;">
0.004052
</td>
<td style="text-align:right;">
247
</td>
</tr>
<tr>
<td style="text-align:left;">
11
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
88.8
</td>
<td style="text-align:right;">
0.004457
</td>
<td style="text-align:right;">
224
</td>
</tr>
<tr>
<td style="text-align:left;">
12
</td>
<td style="text-align:right;">
87
</td>
<td style="text-align:right;">
6.4
</td>
<td style="text-align:right;">
95.2
</td>
<td style="text-align:right;">
0.004863
</td>
<td style="text-align:right;">
206
</td>
</tr>
<tr>
<td style="text-align:left;">
14
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
95.4
</td>
<td style="text-align:right;">
0.005673
</td>
<td style="text-align:right;">
176
</td>
</tr>
<tr>
<td style="text-align:left;">
15
</td>
<td style="text-align:right;">
8
</td>
<td style="text-align:right;">
0.6
</td>
<td style="text-align:right;">
96.0
</td>
<td style="text-align:right;">
0.006078
</td>
<td style="text-align:right;">
165
</td>
</tr>
<tr>
<td style="text-align:left;">
16
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.0
</td>
<td style="text-align:right;">
0.006483
</td>
<td style="text-align:right;">
154
</td>
</tr>
<tr>
<td style="text-align:left;">
17
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.1
</td>
<td style="text-align:right;">
0.006889
</td>
<td style="text-align:right;">
145
</td>
</tr>
<tr>
<td style="text-align:left;">
18
</td>
<td style="text-align:right;">
26
</td>
<td style="text-align:right;">
1.9
</td>
<td style="text-align:right;">
98.0
</td>
<td style="text-align:right;">
0.007294
</td>
<td style="text-align:right;">
137
</td>
</tr>
<tr>
<td style="text-align:left;">
20
</td>
<td style="text-align:right;">
5
</td>
<td style="text-align:right;">
0.4
</td>
<td style="text-align:right;">
98.4
</td>
<td style="text-align:right;">
0.008104
</td>
<td style="text-align:right;">
123
</td>
</tr>
<tr>
<td style="text-align:left;">
24
</td>
<td style="text-align:right;">
4
</td>
<td style="text-align:right;">
0.3
</td>
<td style="text-align:right;">
98.7
</td>
<td style="text-align:right;">
0.009725
</td>
<td style="text-align:right;">
103
</td>
</tr>
<tr>
<td style="text-align:left;">
25
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
98.8
</td>
<td style="text-align:right;">
0.010130
</td>
<td style="text-align:right;">
99
</td>
</tr>
<tr>
<td style="text-align:left;">
26
</td>
<td style="text-align:right;">
11
</td>
<td style="text-align:right;">
0.8
</td>
<td style="text-align:right;">
99.6
</td>
<td style="text-align:right;">
0.010535
</td>
<td style="text-align:right;">
95
</td>
</tr>
<tr>
<td style="text-align:left;">
30
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.6
</td>
<td style="text-align:right;">
0.012156
</td>
<td style="text-align:right;">
82
</td>
</tr>
<tr>
<td style="text-align:left;">
36
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.7
</td>
<td style="text-align:right;">
0.014588
</td>
<td style="text-align:right;">
69
</td>
</tr>
<tr>
<td style="text-align:left;">
52
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
<td style="text-align:right;">
0.021071
</td>
<td style="text-align:right;">
47
</td>
</tr>
<tr>
<td style="text-align:left;">
60
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
<td style="text-align:right;">
0.024313
</td>
<td style="text-align:right;">
41
</td>
</tr>
<tr>
<td style="text-align:left;">
78
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
0.031606
</td>
<td style="text-align:right;">
32
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
1361
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
0.000000
</td>
<td style="text-align:right;">
Inf
</td>
</tr>
</tbody>
</table>
<!-- De kans op een incident per gebruiker per jaar is dus voor 22.4% van de gebruikers ongeveer 1 op 2500; voor 21.6% 1 op 1250; voor 14.4% 1 op 825; voor voor 7.8% 1 op 600. Cumulatief is de kans dus voor tweederde van de gebruikers (veel) kleiner dan 1 op 600. -->
<!-- Pas als gebruikers bovengemiddeld vaak gebruiken (dus vaker dan 8 keer per jaar; de richtlijn is maximaal elke 4-6 weken, en $52/6=8.67$) wordt de kans op een incident 1 op 250 per gebruiker per jaar. Dit geldt voor 11.9% van de gebruikers. Dit is kennelijk fout berekend in de Nationale Drug Monitor 2017: daar wordt op pagina 183 dus foutief gerapporteerd dat de kans op een incident ongeveer 1 op 250 is. -->
<!-- Deze kansen zijn voor het merendeel van de gebruikers overschattingen van hun risico op een incident. Dat komt omdat, zoals gebruiksfrequentie de vertaling van kans op een incident per gebruiksgelegenheid naar de kans op een incident per jaar kan vertalen, die kans op een incident zelf afhangt van de gebruiksintensiteit, waarvan we al hadden vastgesteld dat die verschilt per gebruiker. -->
<!-- Als we aannemen dat de gemiddelde kans op een incident evenredig is aan de kans op onwenselijke effecten (een naieve aanname, maar ook niet geheel absurd; incidenten zullen meestal gepaard gaan met negatieve effecten), is de kans op een incident voor de 41% van de gebruikers die maximaal 120 milligram MDMA gebruiken een fractie van de kans op een incident voor de 36.1% die het liefst meer dan 170 milligram MDMA per keer gebruiken, en het risico van de 22.9% die het liefst een dosis tussen de 120 en 170 milligram gebruikt ligt daar tussenin. -->
<!-- Op basis van de Party Panel 15.1 data kunnen we deze twee bronnen van informatie combineren door de frequenties in beide typen klassen te kruisen in een kruistabel: -->
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
&lt;= 120mg
</th>
<th style="text-align:right;">
120-170mg
</th>
<th style="text-align:right;">
&gt;= 170mg
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
27
</td>
<td style="text-align:right;">
17
</td>
<td style="text-align:right;">
11
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
47
</td>
<td style="text-align:right;">
24
</td>
<td style="text-align:right;">
51
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
11
</td>
<td style="text-align:right;">
8
</td>
<td style="text-align:right;">
25
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
7
</td>
<td style="text-align:right;">
3
</td>
<td style="text-align:right;">
10
</td>
</tr>
</tbody>
</table>
<p>We kunnen dit ook uitdrukken in percentages:</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
&lt;= 120mg
</th>
<th style="text-align:right;">
120-170mg
</th>
<th style="text-align:right;">
&gt;= 170mg
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Sporadische gebruikers
</td>
<td style="text-align:right;">
9.38
</td>
<td style="text-align:right;">
5.90
</td>
<td style="text-align:right;">
3.82
</td>
</tr>
<tr>
<td style="text-align:left;">
Weiniggebruikers
</td>
<td style="text-align:right;">
16.32
</td>
<td style="text-align:right;">
8.33
</td>
<td style="text-align:right;">
17.71
</td>
</tr>
<tr>
<td style="text-align:left;">
Gemodereerde gebruikers
</td>
<td style="text-align:right;">
3.82
</td>
<td style="text-align:right;">
2.78
</td>
<td style="text-align:right;">
8.68
</td>
</tr>
<tr>
<td style="text-align:left;">
Vaakgebruikers
</td>
<td style="text-align:right;">
2.43
</td>
<td style="text-align:right;">
1.04
</td>
<td style="text-align:right;">
3.47
</td>
</tr>
</tbody>
</table>
<p>In deze tabel zijn de onderste twee rijen het vaakst blootgesteld aan de kans op een incident, terwijl de kans op een incident het grootst is voor de rechter kolom.</p>
<p>Dit impliceert dat er dus slechts een relatief kleine groep gebruikers is die risico loopt op incidenten; veruit de meeste mensen gebruiken niet veel en niet vaak. Het aantal incidenten betreft dus waarschijnlijk een kleine groep mensen - het is belangrijk om preventieactiviteiten op deze groep te richten.</p>
</div>
<div id="wat-is-een-incident" class="section level2">
<h2>Wat is een ‘incident’?</h2>
<p>Er is niet geregistreerd wat een incident precies behelst. Een XTC-gebruiker die een klacht heeft die ongerelateerd is aan het XTC-gebruik (bijvoorbeeld een al bestaande klacht, zoals hoofdpijn; of een klacht veroorzaakt door dansen; of door alcoholgebruik; of door vermoeidheid, etc) zal dus toch onder deze meldingen vallen.</p>
<p>Er is wel een indirecte indicatie van of een incident zorgwekkend is: de incidenten worden in drie ‘ernstigheden’ ingedeeld. Tabel 6.6 in de Nationale Drugs Monitor 2017 (p. 182) laat deze indeling zien voor een periode van acht jaar.</p>
<p>In deze periode waren er in totaal 7605 incidenten (951 per jaar), zonder de SEH-LIS ziekenhuizen worden uitgesloten (deze categoriseerden incidenten niet in die drie ernstigheden). Hiervan waren er 5527 licht, 1693, en 383 ernstig. Een licht incident betekent dat iemand nog goed aanspreekbaar is; bij een matig incident beoordeeld de hulpverlener dat iemand onvoldoende aanspreekbaar is, en duidelijk onder invloed; en bij een ernstig incident is iemand niet goed aanspreekbaar omdat diegene niet meer bij bewustzijn is, geagiteerd is, of agressief is, waarbij hartslag, bloeddruk, of ademhalingsfrequentie eventueel verstoord is.</p>
<p>Bijna driekwart, 73 procent van de incidenten, valt in de lichtste categorie, waarbij de gebruiker dus goed aanspreekbaar is, niet duidelijk onder invloed, en waarbij geen sprake is van agitatie, agressie, of verstoorde hartslag, bloeddruk, of ademhalingsfrequentie. Gegeven de symptomen van XTC-intoxicatie is van de meldingen in deze categorie de kans laag dat ze een XTC-gerelateerd risico betreffen.</p>
<p>Dat betekent dat er tweeduizend (2078.19) mogelijke zorgwekkende ‘incidenten’ plaatsvonden in die acht jaar, oftewel 27 procent van de incidenten.</p>
<p>Van de 1275 incidentmeldingen uit 2016 betreffen naar schatting dus ongeveer 931 milde incidenten, en 344 matige en ernstige incidenten. De kans op een matig tot ernstig incident is dus 0.000109, oftewel 0.0109 procent (1 op 9140). Dit kunnen we weer toevoegen aan de tabel met gebruiksfrequenties om een beter beeld te krijgen van deze risico’s.</p>
<table>
<thead>
<tr>
<th style="text-align:left;">
</th>
<th style="text-align:right;">
Aantal mensen
</th>
<th style="text-align:right;">
Percentage
</th>
<th style="text-align:right;">
Cumulatief
</th>
<th style="text-align:right;">
Ruwe kans op een incident
</th>
<th style="text-align:right;">
Reciproke van ruwe kans op een incident
</th>
<th style="text-align:right;">
Kans op een matig tot ernstig incident
</th>
<th style="text-align:right;">
Reciproke van kans op een matig tot ernstig incident
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
1
</td>
<td style="text-align:right;">
305
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
22.4
</td>
<td style="text-align:right;">
0.000405
</td>
<td style="text-align:right;">
2468
</td>
<td style="text-align:right;">
0.000109
</td>
<td style="text-align:right;">
9140
</td>
</tr>
<tr>
<td style="text-align:left;">
2
</td>
<td style="text-align:right;">
294
</td>
<td style="text-align:right;">
21.6
</td>
<td style="text-align:right;">
44.0
</td>
<td style="text-align:right;">
0.000810
</td>
<td style="text-align:right;">
1234
</td>
<td style="text-align:right;">
0.000219
</td>
<td style="text-align:right;">
4570
</td>
</tr>
<tr>
<td style="text-align:left;">
3
</td>
<td style="text-align:right;">
196
</td>
<td style="text-align:right;">
14.4
</td>
<td style="text-align:right;">
58.4
</td>
<td style="text-align:right;">
0.001216
</td>
<td style="text-align:right;">
823
</td>
<td style="text-align:right;">
0.000328
</td>
<td style="text-align:right;">
3047
</td>
</tr>
<tr>
<td style="text-align:left;">
4
</td>
<td style="text-align:right;">
106
</td>
<td style="text-align:right;">
7.8
</td>
<td style="text-align:right;">
66.2
</td>
<td style="text-align:right;">
0.001621
</td>
<td style="text-align:right;">
617
</td>
<td style="text-align:right;">
0.000438
</td>
<td style="text-align:right;">
2285
</td>
</tr>
<tr>
<td style="text-align:left;">
5
</td>
<td style="text-align:right;">
53
</td>
<td style="text-align:right;">
3.9
</td>
<td style="text-align:right;">
70.1
</td>
<td style="text-align:right;">
0.002026
</td>
<td style="text-align:right;">
494
</td>
<td style="text-align:right;">
0.000547
</td>
<td style="text-align:right;">
1828
</td>
</tr>
<tr>
<td style="text-align:left;">
6
</td>
<td style="text-align:right;">
198
</td>
<td style="text-align:right;">
14.5
</td>
<td style="text-align:right;">
84.6
</td>
<td style="text-align:right;">
0.002431
</td>
<td style="text-align:right;">
411
</td>
<td style="text-align:right;">
0.000656
</td>
<td style="text-align:right;">
1523
</td>
</tr>
<tr>
<td style="text-align:left;">
7
</td>
<td style="text-align:right;">
17
</td>
<td style="text-align:right;">
1.2
</td>
<td style="text-align:right;">
85.9
</td>
<td style="text-align:right;">
0.002836
</td>
<td style="text-align:right;">
353
</td>
<td style="text-align:right;">
0.000766
</td>
<td style="text-align:right;">
1306
</td>
</tr>
<tr>
<td style="text-align:left;">
8
</td>
<td style="text-align:right;">
21
</td>
<td style="text-align:right;">
1.5
</td>
<td style="text-align:right;">
87.4
</td>
<td style="text-align:right;">
0.003242
</td>
<td style="text-align:right;">
308
</td>
<td style="text-align:right;">
0.000875
</td>
<td style="text-align:right;">
1143
</td>
</tr>
<tr>
<td style="text-align:left;">
9
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.1
</td>
<td style="text-align:right;">
0.003647
</td>
<td style="text-align:right;">
274
</td>
<td style="text-align:right;">
0.000985
</td>
<td style="text-align:right;">
1016
</td>
</tr>
<tr>
<td style="text-align:left;">
10
</td>
<td style="text-align:right;">
9
</td>
<td style="text-align:right;">
0.7
</td>
<td style="text-align:right;">
88.8
</td>
<td style="text-align:right;">
0.004052
</td>
<td style="text-align:right;">
247
</td>
<td style="text-align:right;">
0.001094
</td>
<td style="text-align:right;">
914
</td>
</tr>
<tr>
<td style="text-align:left;">
11
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
88.8
</td>
<td style="text-align:right;">
0.004457
</td>
<td style="text-align:right;">
224
</td>
<td style="text-align:right;">
0.001203
</td>
<td style="text-align:right;">
831
</td>
</tr>
<tr>
<td style="text-align:left;">
12
</td>
<td style="text-align:right;">
87
</td>
<td style="text-align:right;">
6.4
</td>
<td style="text-align:right;">
95.2
</td>
<td style="text-align:right;">
0.004863
</td>
<td style="text-align:right;">
206
</td>
<td style="text-align:right;">
0.001313
</td>
<td style="text-align:right;">
762
</td>
</tr>
<tr>
<td style="text-align:left;">
14
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
95.4
</td>
<td style="text-align:right;">
0.005673
</td>
<td style="text-align:right;">
176
</td>
<td style="text-align:right;">
0.001532
</td>
<td style="text-align:right;">
653
</td>
</tr>
<tr>
<td style="text-align:left;">
15
</td>
<td style="text-align:right;">
8
</td>
<td style="text-align:right;">
0.6
</td>
<td style="text-align:right;">
96.0
</td>
<td style="text-align:right;">
0.006078
</td>
<td style="text-align:right;">
165
</td>
<td style="text-align:right;">
0.001641
</td>
<td style="text-align:right;">
609
</td>
</tr>
<tr>
<td style="text-align:left;">
16
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.0
</td>
<td style="text-align:right;">
0.006483
</td>
<td style="text-align:right;">
154
</td>
<td style="text-align:right;">
0.001751
</td>
<td style="text-align:right;">
571
</td>
</tr>
<tr>
<td style="text-align:left;">
17
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
96.1
</td>
<td style="text-align:right;">
0.006889
</td>
<td style="text-align:right;">
145
</td>
<td style="text-align:right;">
0.001860
</td>
<td style="text-align:right;">
538
</td>
</tr>
<tr>
<td style="text-align:left;">
18
</td>
<td style="text-align:right;">
26
</td>
<td style="text-align:right;">
1.9
</td>
<td style="text-align:right;">
98.0
</td>
<td style="text-align:right;">
0.007294
</td>
<td style="text-align:right;">
137
</td>
<td style="text-align:right;">
0.001969
</td>
<td style="text-align:right;">
508
</td>
</tr>
<tr>
<td style="text-align:left;">
20
</td>
<td style="text-align:right;">
5
</td>
<td style="text-align:right;">
0.4
</td>
<td style="text-align:right;">
98.4
</td>
<td style="text-align:right;">
0.008104
</td>
<td style="text-align:right;">
123
</td>
<td style="text-align:right;">
0.002188
</td>
<td style="text-align:right;">
457
</td>
</tr>
<tr>
<td style="text-align:left;">
24
</td>
<td style="text-align:right;">
4
</td>
<td style="text-align:right;">
0.3
</td>
<td style="text-align:right;">
98.7
</td>
<td style="text-align:right;">
0.009725
</td>
<td style="text-align:right;">
103
</td>
<td style="text-align:right;">
0.002626
</td>
<td style="text-align:right;">
381
</td>
</tr>
<tr>
<td style="text-align:left;">
25
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
98.8
</td>
<td style="text-align:right;">
0.010130
</td>
<td style="text-align:right;">
99
</td>
<td style="text-align:right;">
0.002735
</td>
<td style="text-align:right;">
366
</td>
</tr>
<tr>
<td style="text-align:left;">
26
</td>
<td style="text-align:right;">
11
</td>
<td style="text-align:right;">
0.8
</td>
<td style="text-align:right;">
99.6
</td>
<td style="text-align:right;">
0.010535
</td>
<td style="text-align:right;">
95
</td>
<td style="text-align:right;">
0.002845
</td>
<td style="text-align:right;">
352
</td>
</tr>
<tr>
<td style="text-align:left;">
30
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.6
</td>
<td style="text-align:right;">
0.012156
</td>
<td style="text-align:right;">
82
</td>
<td style="text-align:right;">
0.003282
</td>
<td style="text-align:right;">
305
</td>
</tr>
<tr>
<td style="text-align:left;">
36
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.7
</td>
<td style="text-align:right;">
0.014588
</td>
<td style="text-align:right;">
69
</td>
<td style="text-align:right;">
0.003939
</td>
<td style="text-align:right;">
254
</td>
</tr>
<tr>
<td style="text-align:left;">
52
</td>
<td style="text-align:right;">
2
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
<td style="text-align:right;">
0.021071
</td>
<td style="text-align:right;">
47
</td>
<td style="text-align:right;">
0.005689
</td>
<td style="text-align:right;">
176
</td>
</tr>
<tr>
<td style="text-align:left;">
60
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
99.9
</td>
<td style="text-align:right;">
0.024313
</td>
<td style="text-align:right;">
41
</td>
<td style="text-align:right;">
0.006564
</td>
<td style="text-align:right;">
152
</td>
</tr>
<tr>
<td style="text-align:left;">
78
</td>
<td style="text-align:right;">
1
</td>
<td style="text-align:right;">
0.1
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
0.031606
</td>
<td style="text-align:right;">
32
</td>
<td style="text-align:right;">
0.008534
</td>
<td style="text-align:right;">
117
</td>
</tr>
<tr>
<td style="text-align:left;">
Total valid
</td>
<td style="text-align:right;">
1361
</td>
<td style="text-align:right;">
100.0
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
0.000000
</td>
<td style="text-align:right;">
Inf
</td>
<td style="text-align:right;">
0.000000
</td>
<td style="text-align:right;">
Inf
</td>
</tr>
</tbody>
</table>
<!-- De kans op een matig tot ernstig incident per gebruiker per jaar is dus voor 22.4% van de gebruikers ongeveer 1 op 9000; voor 21.6% 1 op 4500; voor 14.4% 1 op 3000; en voor 7.8% 1 op 2300. Cumulatief is de kans dus voor tweederde van de gebruikers (veel) kleiner dan 1 op 2300. -->
<!-- Voor gebruikers die gemiddeld vaak gebruiken (dus 8 keer per jaar) is de kans op een matig tot ernstig incident 1 op 1150 per gebruiker per jaar. Dit geldt voor 11.9% van de gebruikers. Deze kansen zijn nog steeds afhankelijk van de dosis die mensen gebruiken. -->
</div>
</div>
<div id="kans-op-overlijden" class="section level1">
<h1>Kans op overlijden</h1>
<p>De registratie van drugsgerelateerde sterfgevallen is zodanig dat er geen duidelijke cijfers beschikbaar zijn. Op basis van wat de NDI rapporteert op pagina’s 186-187 lijkt de beschikbare evidentie te convergeren op ongeveer 5 sterfgevallen per jaar. Gegeven de 3.661.487 gebruiksgelegenheden per jaar is de kans op overlijden dus 5 / 3661486.924886 = 0.000001, oftewel 0.00014%, oftewel 1 op 732297, zeg 1 op 732 duizend.</p>
<p>Net als de kans op incidenten is de kans op overlijden per gebruiksgelegenheid onder andere een functie van de dosis MDMA die wordt gebruikt. En de kans op overlijden per gebruiker per jaar is dan bovendien weer een functie van hoe vaak diegene per jaar gebruikt.</p>
</div>
<div id="conclusie" class="section level1">
<h1>Conclusie</h1>
<p>Ik heb gerapporteerd wat bekend is over de kans op incidenten bij XTC-gebruikers in Nederland, gebaseerd op data uit Party Panel, de Global Drugs Survey, het Nationale Uitgaans Onderzoek, de Nationale Drugs Monitor, en data van het CBS. De data met betrekking tot frequenties van gebruik lijken relatief betrouwbaar: verschillende studies laten vergelijkbare gerapporteerde frequenties zien. De data met betrekking tot gewenste intensiteit komen alleen uit Party Panel, en de data met betrekking tot incidenten betreffen onderschattingen van het aantal incidenten, omdat niet alle hulpverlenende instellingen incidenten rapporteren.</p>
<p>Tegelijk komt duidelijk naar voren dat een ‘kans op een incident per gebruiker’ of een ‘kans op overlijden per gebruiker’ geen bruikbare concepten zijn. Gebruikers verschillen fors met betrekking tot gebruiksfrequentie en -intensiteit. De overgrote groep gebruikt niet vaak en niet veel, en hun risico op een incident is een fractie van dat van de kleinere groep die wel vaak en wel veel gebruikt.</p>
<p>Het is daarom belangrijk deze groep te bereiken met preventieactiviteiten.</p>
</div>
<div id="referenties" class="section level1">
<h1>Referenties</h1>
<p>Brunt, T.M., Koeter, M.W., Niesink, R.J., and Van den Brink, W. (2012). Linking the pharmacological content of ecstasy tablets to the subjective experiences of drug users. <em>Psychopharmacology</em>, <strong>220</strong>, pp. 751-762. <a href="doi:10.1007/s00213-011-2529-4" class="uri">doi:10.1007/s00213-011-2529-4</a></p>
<p>Centraal Bureau voor de Statistiek. (2018). Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken. Retrieved from <a href="https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83021NED/table?dl=13DDD" class="uri">https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83021NED/table?dl=13DDD</a></p>
<p>van Laar, M. W., &amp; van Gestel, B. (2017). Nationale Drug Monitor - Jaarbericht 2017. Trimbos Instituut.</p>
<p>Peters, G.-J. Y., &amp; Noijen, J. (2015). Party Panel 15.1. Celebrate Safe.</p>
</div>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Combigebruik is overigens ook erg belangrijk, maar hierover is te weinig bekend om ervoor te corrigeren.<a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>
</div>
